Repository bitcoin-core/gui, pull requests merged in 2022-07, with the labels that each got.

#471 Add Wallet Restore in the GUI
  doc/release-notes/release-notes-471.md
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
Labels: Feature, Wallet

#469 Load Base64 PSBT string from file
  src/qt/walletframe.cpp
Labels: Feature

#631 Disallow encryption of watchonly wallets
  src/qt/bitcoingui.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Labels: Wallet, Needs backport (22.x), Needs backport (23.x)

#629 Fix translator comment for Restore Wallet `QInputDialog`
  src/qt/bitcoingui.cpp
Labels: Translations
