Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

qt: add reset button and console commands for clearing output/history
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
Owners: @hebasto

wallet: Write new descriptor's cache in AddWalletDescriptor
  src/wallet/wallet.cpp
Owners: @achow101

wallet: Use Descriptor::CanSelfExpand() in CanGetAddresses()
  src/wallet/scriptpubkeyman.cpp
Owners: @achow101

descriptor: Add CanSelfExpand()
  src/script/descriptor.cpp
  src/script/descriptor.h
  src/wallet/test/walletload_tests.cpp
Owners: @achow101, @sipa

wallet: Move listdescriptors retrieving from RPC to CWallet
  src/wallet/rpc/backup.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @achow101

wallet: Add CWallet::ExportWatchOnly
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @achow101

wallet, rpc: Add exportwatchonlywallet RPC
  src/wallet/rpc/wallet.cpp
Owners: @achow101

test: Test for exportwatchonlywallet
  test/functional/test_runner.py
  test/functional/wallet_exported_watchonly.py
Owners: none

doc: update offline-signing-tutorial to use exportwatchonlywallet rpc
  doc/offline-signing-tutorial.md
Owners: none

gui: Avoid pathological QT text/markdown behavior...
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.h
Owners: @hebasto

gui: Menu action for exporting a watchonly wallet
  src/interfaces/wallet.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

qt: Fix dark mode detection on Linux
  src/qt/bitcoin.cpp
Owners: none

interfaces: expose UTXO snapshot functionaility in node interface
  src/interfaces/node.h
  src/interfaces/snapshot.h
  src/node/interfaces.cpp
Owners: @ryanofsky

poc: Implement GUI snapshot loading functionality
  src/interfaces/node.h
  src/interfaces/snapshot.h
  src/kernel/notifications_interface.h
  src/node/interface_ui.cpp
  src/node/interface_ui.h
  src/node/interfaces.cpp
  src/node/kernel_notifications.cpp
  src/node/kernel_notifications.h
  src/qt/bitcoin.cpp
  src/qt/bitcoin.h
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
  src/qt/forms/intro.ui
  src/qt/intro.cpp
  src/qt/intro.h
  src/qt/optionsdialog.cpp
  src/qt/optionsdialog.h
  src/validation.cpp
Owners: @ryanofsky, @hebasto, @sipa

rpcconsole:display signet_challenge
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
Owners: @hebasto

.github/workflows/ci.yml:check free_space
  .github/workflows/ci.yml
Owners: none

rpcconsole:display signet_challenge
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
Owners: @hebasto

ci: Turn centos config into alpine musl config
  .github/workflows/ci.yml
  ci/test/00_setup_env_native_alpine_musl.sh
  ci/test/01_base_install.sh
  ci/test/03_test_script.sh
  ci/test_imagefile
Owners: @practicalswift

src/qt/test/rpcnestedtests.cpp:remove qtest-obsolete members
  src/qt/test/rpcnestedtests.cpp
Owners: none

src/qt/test/rpcnestedtests.cpp:apply clang-format
  src/qt/test/rpcnestedtests.cpp
Owners: none

gui: add coins (UTXOs) tab and makes it view-only
  src/qt/bitcoin.qrc
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/coincontroldialog.cpp
  src/qt/coincontroldialog.h
  src/qt/res/icons/coins.png
  src/qt/res/src/coins.svg
  src/qt/walletview.cpp
  src/qt/walletview.h
Owners: none

contrib: add desktop file
  contrib/debian/bitcoin-qt.desktop
Owners: none

gui: add coins (UTXOs) tab and makes it view-only
  src/qt/bitcoin.qrc
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/coincontroldialog.cpp
  src/qt/coincontroldialog.h
  src/qt/res/icons/coins.png
  src/qt/res/src/coins.svg
  src/qt/walletview.cpp
  src/qt/walletview.h
Owners: none

qt: don't pass BitcoinGUI to bringToFront()
  src/qt/bitcoingui.cpp
Owners: none

qt: Increase tooltip wrap threshold from 80 to 100 characters
  src/qt/guiconstants.h
Owners: none

qt: add console commands for clearing screen, clearing and viewing history
  doc/release-notes-gui-882.md
  src/qt/rpcconsole.cpp
Owners: none

rpcconsole:display signet_challenge
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
Owners: @hebasto

qt: prevent re-execution of sensitive commands from console history
  src/qt/rpcconsole.cpp
  src/qt/test/rpcnestedtests.cpp
Owners: none

wallet: Add separate balance info for non-mempool wallet txs
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
  src/wallet/receive.cpp
  src/wallet/receive.h
  src/wallet/rpc/coins.cpp
  test/functional/wallet_balance.py
  test/functional/wallet_migration.py
  test/functional/wallet_orphanedreward.py
Owners: @ryanofsky, @achow101

qt: prevent re-execution of sensitive commands from console history
  src/qt/rpcconsole.cpp
  src/qt/test/rpcnestedtests.cpp
Owners: none

tests: Add test for mempool-invalid wallet tx
  test/functional/wallet_send.py
Owners: none

gui: Add non-mempool balance to wallet overview
  src/qt/forms/overviewpage.ui
  src/qt/overviewpage.cpp
Owners: @hebasto

qt: Defer transaction signing until user clicks Send
  src/qt/sendcoinsdialog.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Owners: none

wallet: Add separate balance info for non-mempool wallet txs
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
  src/wallet/receive.cpp
  src/wallet/receive.h
  src/wallet/rpc/coins.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_abandonconflict.py
  test/functional/wallet_balance.py
  test/functional/wallet_conflicts.py
  test/functional/wallet_migration.py
  test/functional/wallet_orphanedreward.py
  test/functional/wallet_v3_txs.py
Owners: @ryanofsky, @achow101

tests: Add test for mempool-invalid wallet tx
  test/functional/wallet_send.py
Owners: none

gui: Add non-mempool balance to wallet overview
  src/qt/bitcoinunits.cpp
  src/qt/forms/overviewpage.ui
  src/qt/overviewpage.cpp
  src/qt/test/wallettests.cpp
  src/wallet/interfaces.cpp
Owners: @hebasto, @achow101

gui: Update about logo icon to denote chain type
  src/qt/bitcoin.cpp
  src/qt/bitcoingui.cpp
  src/qt/utilitydialog.cpp
  src/qt/utilitydialog.h
Owners: none

gui: Update QMessageBox::Icon with chaintype image
  src/qt/bitcoin.cpp
  src/qt/guiutil.cpp
  src/qt/guiutil.h
Owners: none

Improve Chinese translations for peer connection types
  src/qt/locale/bitcoin_zh-Hans.ts
  src/qt/locale/bitcoin_zh-Hant.ts
  src/qt/locale/bitcoin_zh_HK.ts
  src/qt/locale/bitcoin_zh_TW.ts
Owners: none

interfaces: Add isChange to wallet interface
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa
