Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

test: check LoadBlockIndex correctly recomputes invalidity flags
  src/test/validation_chainstatemanager_tests.cpp
Owners: none

threadpool: make Submit return Expected instead of throwing
  src/test/fuzz/threadpool.cpp
  src/test/threadpool_tests.cpp
  src/util/threadpool.h
Owners: @practicalswift

http: properly respond to HTTP request during shutdown
  src/httpserver.cpp
Owners: none

Add a "tx output spender" index
  doc/files.md
  doc/release-notes-24539.md
  src/CMakeLists.txt
  src/index/txospenderindex.cpp
  src/index/txospenderindex.h
  src/init.cpp
  src/node/caches.cpp
  src/node/caches.h
  src/rpc/client.cpp
  src/rpc/mempool.cpp
  src/rpc/node.cpp
  src/test/CMakeLists.txt
  src/test/txospenderindex_tests.cpp
  test/functional/feature_init.py
  test/functional/rpc_gettxspendingprevout.py
  test/functional/rpc_mempool_info.py
  test/functional/rpc_misc.py
  test/functional/test_runner.py
Owners: @hebasto, @fjahr

rpc: add coinbase_tx field to getblock
  doc/release-notes-34512.md
  src/rpc/blockchain.cpp
  test/functional/rpc_blockchain.py
Owners: none

Minimize mempool lock, sync txo spender index only when and if needed
  src/rpc/mempool.cpp
  test/functional/rpc_gettxspendingprevout.py
Owners: none

test: Add missing syncwithvalidationinterfacequeue
  test/functional/p2p_invalid_tx.py
Owners: none

test: Fixup assert_debug_log timeouts in feature_config_args.py
  test/functional/feature_config_args.py
Owners: none

Revert "ci: Treat SHA1 LLVM signing key as warning"
  ci/test/01_base_install.sh
Owners: @practicalswift

qt: Update src/qt/locale/bitcoin_en.xlf after string freeze
  src/qt/bitcoinstrings.cpp
  src/qt/locale/bitcoin_en.ts
  src/qt/locale/bitcoin_en.xlf
Owners: none

interfaces: expose UTXO snapshot functionaility in node interface
  src/interfaces/node.h
  src/interfaces/snapshot.h
  src/node/interfaces.cpp
Owners: @ryanofsky

poc: Implement GUI snapshot loading functionality
  src/interfaces/node.h
  src/interfaces/snapshot.h
  src/kernel/notifications_interface.h
  src/node/interface_ui.cpp
  src/node/interface_ui.h
  src/node/interfaces.cpp
  src/node/kernel_notifications.cpp
  src/node/kernel_notifications.h
  src/qt/bitcoin.cpp
  src/qt/bitcoin.h
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
  src/qt/forms/intro.ui
  src/qt/intro.cpp
  src/qt/intro.h
  src/qt/optionsdialog.cpp
  src/qt/optionsdialog.h
  src/validation.cpp
Owners: @ryanofsky, @hebasto, @sipa

qt: Defer transaction signing until user clicks Send
  src/qt/sendcoinsdialog.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Owners: none

Introduce qt test bridge
  CMakeLists.txt
  src/qt/CMakeLists.txt
  src/qt/bitcoin.cpp
  src/qt/bitcoin.h
  src/qt/bitcoingui.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/testbridge.cpp
  src/qt/testbridge.h
  src/qt/walletframe.cpp
  src/qt/walletview.cpp
  test/functional/gui_wallet_send.py
  test/functional/test_framework/qt.py
  test/functional/test_runner.py
Owners: none

Add gui functional test coverage
  src/qt/askpassphrasedialog.cpp
  src/qt/bitcoingui.cpp
  src/qt/createwalletdialog.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/walletcontroller.cpp
  test/functional/gui_node_window.py
  test/functional/gui_settings_persistence.py
  test/functional/gui_wallet_lifecycle.py
  test/functional/gui_wallet_receive.py
  test/functional/gui_wallet_security.py
  test/functional/gui_wallet_send.py
  test/functional/gui_wallet_send_advanced.py
  test/functional/test_framework/qt.py
  test/functional/test_runner.py
Owners: none

test: fix gui test lint
  test/functional/gui_wallet_send_advanced.py
Owners: none

qt: Defer transaction signing until user clicks Send
  src/qt/sendcoinsdialog.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Owners: none

qt: Defer transaction signing until user clicks Send
  src/qt/sendcoinsdialog.cpp
  src/qt/walletmodel.cpp
Owners: none

fix encrypt wallet wording
  src/qt/forms/createwalletdialog.ui
Owners: @hebasto

gui: fix advanced options toggles
  src/qt/createwalletdialog.cpp
Owners: none

gui: truncate header sync percentage to avoid showing 100% when headers are stale
  src/qt/modaloverlay.cpp
Owners: none

gui: truncate header sync percentage to avoid showing 100% when headers are stale
  src/qt/modaloverlay.cpp
Owners: none

gui: Add non-mempool balance to wallet overview
  src/qt/bitcoinunits.cpp
  src/qt/forms/overviewpage.ui
  src/qt/overviewpage.cpp
  src/qt/test/wallettests.cpp
  src/wallet/interfaces.cpp
Owners: @hebasto, @achow101

interfaces: Expose CreateRateBumpTransaction's orig_change_pos
  src/interfaces/wallet.h
  src/qt/walletmodel.cpp
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

interfaces: Add isChange to wallet interface
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

qt: Add a dialog to select the change output when bumping fee
  src/qt/CMakeLists.txt
  src/qt/bumpfeechoosechangedialog.cpp
  src/qt/bumpfeechoosechangedialog.h
  src/qt/forms/bumpfeechoosechangedialog.ui
  src/qt/test/wallettests.cpp
  src/qt/walletmodel.cpp
  test/lint/lint-circular-dependencies.py
Owners: @hebasto, @practicalswift

gui: Menu action for exporting a watchonly wallet
  src/interfaces/wallet.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

descriptor: Add CanSelfExpand()
  src/script/descriptor.cpp
  src/script/descriptor.h
  src/test/descriptor_tests.cpp
  src/wallet/test/walletload_tests.cpp
Owners: @achow101, @sipa

wallet: Use Descriptor::CanSelfExpand() in CanGetAddresses()
  src/wallet/scriptpubkeyman.cpp
Owners: @achow101

wallet: Write new descriptor's cache in AddWalletDescriptor
  src/wallet/wallet.cpp
Owners: @achow101

util: Add FormatISO8601Time function for time-only ISO format
  src/util/time.cpp
  src/util/time.h
Owners: none

qt: Add formatBytesps function for bytes per second display
  src/qt/guiutil.cpp
Owners: none

wallet: Move listdescriptors retrieving from RPC to CWallet
  src/wallet/CMakeLists.txt
  src/wallet/export.cpp
  src/wallet/export.h
  src/wallet/rpc/backup.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @achow101

wallet: Add CWallet::ExportWatchOnly
  src/wallet/export.cpp
  src/wallet/export.h
  src/wallet/wallet.h
Owners: @achow101

wallet, rpc: Add exportwatchonlywallet RPC
  src/wallet/rpc/wallet.cpp
Owners: @achow101

doc: update offline-signing-tutorial to use exportwatchonlywallet rpc
  doc/offline-signing-tutorial.md
Owners: none

test: Test for exportwatchonlywallet
  test/functional/test_runner.py
  test/functional/wallet_exported_watchonly.py
Owners: none

gui: Menu action for exporting a watchonly wallet
  src/interfaces/wallet.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

qt: Enhance TrafficGraphWidget with multi-timeframe support and data persistence
  src/qt/forms/debugwindow.ui
  src/qt/guiutil.h
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/qt/trafficgraphwidget.cpp
  src/qt/trafficgraphwidget.h
Owners: @hebasto

qt: Preserve headers presync progress
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/modaloverlay.cpp
  src/qt/modaloverlay.h
  src/qt/test/CMakeLists.txt
  src/qt/test/modaloverlaytests.cpp
  src/qt/test/modaloverlaytests.h
  src/qt/test/test_main.cpp
Owners: none

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa
