Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

Don't clear graph when changing interval
  src/qt/trafficgraphwidget.cpp
Owners: none

Show ToolTip on Network Traffic graph
  src/qt/trafficgraphwidget.cpp
  src/qt/trafficgraphwidget.h
  src/util/time.cpp
  src/util/time.h
Owners: none

build, qt: use static QAndroidPlatformIntegrationPlugin
  src/Makefile.qttest.include
  src/qt/bitcoin.cpp
Owners: none

build, android: Fix Android GUI not loading on Qt 5.15
  src/Makefile.qt.include
  src/qt/android/.gitignore
  src/qt/android/AndroidManifest.xml
  src/qt/android/res/values/libs.xml
Owners: none

Create Sjenica1
  Sjenica1
Owners: none

Create Sjenica1
  Sjenica1
Owners: none

Update COPYING
  COPYING
Owners: none

Create Sjenica1
  Sjenica1
Owners: none

gui: add more detailed address error message
  src/qt/editaddressdialog.cpp
  src/qt/editaddressdialog.h
  src/qt/forms/editaddressdialog.ui
  src/qt/forms/sendcoinsentry.ui
  src/qt/sendcoinsentry.cpp
  src/qt/sendcoinsentry.h
Owners: @hebasto

gui: add more detailed address error message
  src/qt/editaddressdialog.cpp
  src/qt/editaddressdialog.h
  src/qt/forms/editaddressdialog.ui
  src/qt/forms/sendcoinsentry.ui
  src/qt/sendcoinsentry.cpp
  src/qt/sendcoinsentry.h
Owners: @hebasto

Add address error location to GUI
  src/qt/bitcoinaddressvalidator.cpp
  src/qt/bitcoinaddressvalidator.h
  src/qt/guiutil.cpp
  src/qt/qvalidatedlineedit.cpp
  src/qt/qvalidatedlineedit.h
Owners: none

gui: network graph - scale view based on time interval
  src/qt/trafficgraphwidget.cpp
Owners: none

gui: network graph - fix left margin to hide paths
  src/qt/trafficgraphwidget.cpp
Owners: none

gui: network graph - retain enough samples for large time intervals
  src/qt/trafficgraphwidget.cpp
Owners: none

gui: network graph - remove uneccesary clear() when changing interval
  src/qt/trafficgraphwidget.cpp
Owners: none

gui: network graph - set initial QSlider value to first position (5 mins)
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
Owners: @hebasto

qt:refactor: Use std::chrono in TrafficGraphWidget class
  src/qt/rpcconsole.cpp
  src/qt/trafficgraphwidget.cpp
  src/qt/trafficgraphwidget.h
Owners: none

gui: network graph - clean up colors - look better in log scale
  src/qt/trafficgraphwidget.cpp
Owners: none

gui: network graph - use samples subset to determine tmax
  src/qt/trafficgraphwidget.cpp
Owners: none

gui: network graph - add log-scale toggle
  src/qt/trafficgraphwidget.cpp
  src/qt/trafficgraphwidget.h
Owners: none

gui: network graph - add log-scale toggle on double click
  src/qt/trafficgraphwidget.cpp
  src/qt/trafficgraphwidget.h
Owners: none

gui: network graph - show/hide panels based on window width/height
  src/qt/rpcconsole.cpp
Owners: none

gui: netowrk graph - reduce DESIRED_SAMPLES to 300
  src/qt/trafficgraphwidget.cpp
Owners: none

gui: netowrk graph - linear scale default
  src/qt/trafficgraphwidget.h
Owners: none

gui: toggle chain via menu
  doc/release-notes.md
  src/qt/bitcoin.cpp
  src/qt/bitcoingui.cpp
Owners: none

Wallet: Keep track of what addresses are used in wallet transactions (memory only)
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @achow101

Wallet: Add fairly-efficient [negative] check that an address is not known to be used
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @achow101

RPC/Wallet: Add "use_txids" to output of getaddressinfo
  src/wallet/rpc/addresses.cpp
  test/functional/wallet_basic.py
Owners: @achow101

Bugfix: Wallet: Don't initialise "used" flag for wallet tool "info" command
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/wallettool.cpp
Owners: @achow101

GUI: QValidatedLineEdit: Add support for a warning-but-valid state
  src/qt/guiconstants.h
  src/qt/qvalidatedlineedit.cpp
  src/qt/qvalidatedlineedit.h
Owners: none

GUI: Support returning positions from BitcoinAddress{Entry,Check}Validator::validate
  src/qt/bitcoinaddressvalidator.cpp
  src/qt/bitcoinaddressvalidator.h
Owners: none

GUI: Point out position of invalid characters in Bech32 addresses
  src/qt/qvalidatedlineedit.cpp
  src/qt/qvalidatedlineedit.h
Owners: none

gui: network graph - show/hide panels based on window width/height
  src/qt/rpcconsole.cpp
Owners: none

gui: network graph - show/hide panels based on click event
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/qt/trafficgraphwidget.cpp
  src/qt/trafficgraphwidget.h
Owners: none

gui: network graph - show/hide slider based on click event
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
Owners: @hebasto

gui: network graph - totals frame - implement original color scheme
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
Owners: @hebasto

gui: network graph - totals frame - background color base on acc. audit
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
Owners: @hebasto

Network Graph - Create y_value function
  src/qt/trafficgraphwidget.cpp
  src/qt/trafficgraphwidget.h
Owners: none

Add formatBytesps function
  src/qt/guiutil.cpp
  src/qt/guiutil.h
Owners: none

Enable non-linear network traffic graph
  src/qt/trafficgraphwidget.cpp
  src/qt/trafficgraphwidget.h
Owners: none

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa
