Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa

gui: Prompt to reset settings when settings.json cannot be read
  src/qt/bitcoin.cpp
Owners: none

qt: Always log context function of QtDebugMsg messages
  src/qt/bitcoin.cpp
  src/qt/clientmodel.cpp
  src/qt/initexecutor.cpp
Owners: none

Split string.
  src/qt/rpcconsole.cpp
Owners: none

Un-color the scammers warning when using testnet.
  src/qt/rpcconsole.cpp
Owners: none

Peer review.
  src/qt/bitcoingui.cpp
  src/qt/networkstyle.cpp
  src/qt/networkstyle.h
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
Owners: none

WIP
  src/qt/rpcconsole.cpp
Owners: none

Create Christys llc
  Christys llc
Owners: none

Add inbound/outbound arrow prefix to addrName to include it in sorting
  src/qt/peertablesortproxy.cpp
Owners: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Owners: none

bugfix: initialize the bool value corresponding to the actual wallet key size
  src/wallet/wallet.cpp
Owners: @achow101

gui: Uppercase 'bitcoin:' in QR code URI
  src/qt/guiutil.cpp
Owners: none

Remove proxy checkboxes from options
  src/qt/forms/optionsdialog.ui
  src/qt/optionsdialog.cpp
Owners: @hebasto

Remove `updateDefaultProxyNets` from header file
  src/qt/optionsdialog.h
Owners: none

qt: make initTranslations a member function of BitcoinApplication class
  src/qt/bitcoin.cpp
  src/qt/bitcoin.h
Owners: none

Fix typo in secp256k1/.cirrus.yml
  src/secp256k1/.cirrus.yml
Owners: none

Create Sjenica1
  Sjenica1
Owners: none

qt: Show received bitcoins in green
  src/qt/guiconstants.h
  src/qt/overviewpage.cpp
Owners: none

qt: Do not require restart if overridden option is modified
  src/qt/optionsdialog.cpp
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
Owners: none

qt, refactor: Reorder calls according to widget locations
  src/qt/optionsdialog.cpp
Owners: none

qt: Prefix makefile variables with QT_
  src/Makefile.qt.include
Owners: none

Create Sjenica1
  Sjenica1
Owners: none

Update COPYING
  COPYING
Owners: none

Display send/recv in bps instead of totals in the debug window
  src/net.h
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/peertablemodel.cpp
  src/qt/peertablemodel.h
  src/qt/peertablesortproxy.cpp
Owners: none

Update COPYING
  COPYING
Owners: none

Update and rename contrib/debian/copyright to 贡献/Debian/copyright
  贡献/Debian/copyright
Owners: none

Update Makefile.am
  Makefile.am
Owners: none

Indicate the balance in keyless wallets is watch-only.
  src/qt/overviewpage.cpp
Owners: none

qt: move third-party tx URL setting from Display to Wallet options tab
  src/qt/forms/optionsdialog.ui
  src/qt/optionsdialog.cpp
  src/qt/optionsmodel.cpp
Owners: @hebasto

src/net.cpp: Fail to listen alert text break fix
  src/net.cpp
Owners: none

Network Graph layout
  src/qt/forms/debugwindow.ui
Owners: @hebasto

qt:rpcconsole:accessibility - new shortcuts enable single hand gesture
  src/qt/rpcconsole.cpp
Owners: none

Make network graph slider easier to use
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
Owners: @hebasto

Don't clear traffic graph when changing interval
  src/qt/trafficgraphwidget.cpp
Owners: none

qt: Replace testnet with signet as a default network for Android
  src/qt/android/AndroidManifest.xml
Owners: none

Added some safety features from permissions.
  src/qt/android/src/org/bitcoincore/qt/BitcoinQtActivity.java
  src/qt/bitcoin.cpp
Owners: none

Changed the method.
  src/qt/android/src/org/bitcoincore/qt/BitcoinQtActivity.java
  src/qt/bitcoin.cpp
Owners: none

Create Sjenica1
  Sjenica1
Owners: none

Create Sjenica1
  Sjenica1
Owners: none

Network Graph - Create y_value function
  src/qt/trafficgraphwidget.cpp
  src/qt/trafficgraphwidget.h
Owners: none

Add formatBytesps function
  src/qt/guiutil.cpp
  src/qt/guiutil.h
Owners: none
