Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

Show ToolTip on Network Traffic graph
  src/qt/trafficgraphwidget.cpp
  src/qt/trafficgraphwidget.h
  src/util/time.cpp
  src/util/time.h
Owners: none

Don't clear graph when changing interval
  src/qt/trafficgraphwidget.cpp
Owners: none

Improve formatBytes in GUI
  src/qt/guiutil.cpp
Owners: none

Make Network Graph sample multiple ranges
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/qt/trafficgraphwidget.cpp
  src/qt/trafficgraphwidget.h
Owners: @hebasto

Don't lose ToolTip when toggling network graph
  src/qt/trafficgraphwidget.cpp
Owners: none

gui: make error message layout in `sendcoinsentry` consistent
  src/qt/forms/sendcoinsentry.ui
  src/qt/sendcoinsentry.cpp
  src/qt/sendcoinsentry.h
Owners: @hebasto

gui: make error message layout in `editaddressdialog` consistent
  src/qt/editaddressdialog.cpp
  src/qt/editaddressdialog.h
  src/qt/forms/editaddressdialog.ui
Owners: @hebasto

gui: remove unnecessary validation
  src/qt/sendcoinsdialog.cpp
Owners: none

interfaces/wallet: Add checkAddressForUsage and findAddressUsage
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

GUI: Add GUIUtil::dateStr
  src/qt/guiutil.cpp
  src/qt/guiutil.h
Owners: none

GUI: SendConfirmationDialog: Defer button setup until exec
  src/qt/sendcoinsdialog.cpp
  src/qt/sendcoinsdialog.h
Owners: none

GUI: SendConfirmationDialog: Enable changing the actual buttons used
  src/qt/sendcoinsdialog.cpp
  src/qt/sendcoinsdialog.h
  src/qt/test/wallettests.cpp
  src/qt/walletmodel.cpp
Owners: none

GUI: WalletModel: Wrap checkAddressForUsage and findAddressUsage
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Owners: none

GUI: QValidatedLineEdit: Add support for a warning-but-valid state
  src/qt/guiconstants.h
  src/qt/qvalidatedlineedit.cpp
  src/qt/qvalidatedlineedit.h
Owners: none

GUI: Implement BitcoinAddressUnusedInWalletValidator
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Owners: none

GUI: Use warning indicator for send coins entries with reused addresses
  src/qt/sendcoinsentry.cpp
Owners: none

GUI: Add a warning prompt when sending to an already-used address
  src/qt/sendcoinsdialog.cpp
  src/qt/sendcoinsdialog.h
  src/qt/sendcoinsentry.cpp
  src/qt/sendcoinsentry.h
  src/qt/test/wallettests.cpp
Owners: none

interfaces/chain: Provide a way to ask the user a question during init
  src/interfaces/chain.h
  src/node/interfaces.cpp
Owners: @ryanofsky

util: Add a ForceSetArgV that can handle non-strings
  src/util/system.cpp
  src/util/system.h
Owners: none

build, qt: bump Qt5 version to 5.15.3
  .cirrus.yml
  build_msvc/README.md
  depends/packages/qt.mk
  doc/dependencies.md
Owners: @sipsorcery, @fanquake

qt: Equalize notifySystray and notifyDBus interface
  src/qt/notificator.cpp
  src/qt/notificator.h
Owners: none

qt: Remove dbus notification code
  build-aux/m4/bitcoin_qt.m4
  configure.ac
  doc/build-unix.md
  src/qt/bitcoingui.cpp
  src/qt/notificator.cpp
  src/qt/notificator.h
Owners: @hebasto, @laanwj

GUI: Pass PlatformStyle through ClientModel into PeerTableModel
  src/qt/bitcoin.cpp
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
  src/qt/peertablemodel.cpp
  src/qt/peertablemodel.h
  src/qt/test/addressbooktests.cpp
  src/qt/test/wallettests.cpp
Owners: none

GUI: Peers: Add direction table column before "Address" with arrow
  src/qt/peertablemodel.cpp
  src/qt/peertablemodel.h
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
Owners: none

GUI: Make Peers table aware of runtime palette change
  src/qt/peertablemodel.cpp
  src/qt/peertablemodel.h
  src/qt/rpcconsole.cpp
Owners: none

CValidationInterface: ValidationInterfaceUnregistering, called when being unregistered
  src/validationinterface.cpp
  src/validationinterface.h
Owners: none

Qt: Network Watch tool
  src/Makefile.qt.include
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/guiconstants.h
  src/qt/netwatch.cpp
  src/qt/netwatch.h
  src/qt/rpcconsole.h
Owners: none

qt, test: Add tests for searching in `AddressBookPage` dialog
  src/qt/test/addressbooktests.cpp
Owners: none

qt: Drop wildcard support for address/label search in `AddressBookPage`
  src/qt/addressbookpage.cpp
Owners: none

gui: avoid unclean exit due to permissions issues when setting start on system startup
  src/qt/guiutil.cpp
Owners: none

qt: Ditch wallet model juggling
  src/qt/walletcontroller.cpp
Owners: none

qt: Move wallet preloading out of model constructors
  src/qt/addresstablemodel.cpp
  src/qt/addresstablemodel.h
  src/qt/recentrequeststablemodel.cpp
  src/qt/recentrequeststablemodel.h
  src/qt/test/addressbooktests.cpp
  src/qt/test/wallettests.cpp
  src/qt/transactiontablemodel.cpp
  src/qt/transactiontablemodel.h
  src/qt/walletcontroller.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Owners: none

qt: Use `QRegularExpression` in `AddressBookSortFilterProxyModel` class
  src/qt/addressbookpage.cpp
Owners: none

qt: replace QRegExp with QRegularExpression
  src/qt/guiutil.cpp
  src/qt/utilitydialog.cpp
Owners: none

qt: replace QRegExp with QRegularExpression
  src/qt/guiutil.cpp
  src/qt/utilitydialog.cpp
Owners: none

Skip manual signal disconnection in `~ClientModel()` dtor
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
Owners: none

Skip manual signal disconnection in `~WalletModel()` dtor
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Owners: none

Skip manual signal disconnection in `~BitcoinGUI()` dtor
  src/qt/bitcoingui.cpp
Owners: none

Skip manual signal disconnection in `~TransactionTableModel()` dtor
  src/qt/transactiontablemodel.cpp
  src/qt/transactiontablemodel.h
Owners: none

qt, wallet: Detect `DuplicateAddress` earlier
  src/qt/walletmodel.cpp
Owners: none

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa
