Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

util: Add SettingTo<Int>() and GetArg<Int>()
  src/common/args.cpp
  src/common/args.h
  src/test/getarg_tests.cpp
Owners: none

rpc: Properly parse -rpcworkqueue/-rpcthreads
  src/httpserver.cpp
Owners: none

net: reduce log level for PCP/NAT-PMP NOT_AUTHORIZED failures
  src/common/pcp.cpp
Owners: none

doc: update Windows MSVC build guide to utilize WinGet to install apps
  doc/build-windows-msvc.md
Owners: none

refactor: [gui] Use SettingTo<int64_t> over deprecated SettingToInt
  src/common/args.h
  src/qt/optionsmodel.cpp
Owners: none

qt: Use plurals where necessary
  src/qt/psbtoperationsdialog.cpp
Owners: none

guix: fix typo in guix-codesign
  contrib/guix/guix-codesign
Owners: @dongcarl

guix: don't export TZ twice
  contrib/guix/libexec/build.sh
Owners: @practicalswift

index: Check availability of undo data for indices
  src/index/base.h
  src/index/blockfilterindex.h
  src/index/coinstatsindex.h
  src/init.cpp
  src/node/blockstorage.h
  src/test/blockmanager_tests.cpp
  test/functional/feature_index_prune.py
Owners: @fjahr

test: Indices can not start based on block data without undo data
  test/functional/feature_index_prune.py
Owners: none

rpc, test: Address feedback from #29668
  src/rpc/blockchain.cpp
  src/rpc/blockchain.h
  src/test/blockchain_tests.cpp
Owners: none

test: Add coverage for restarted node without any block sync
  test/functional/feature_init.py
Owners: none

util: Remove brittle and confusing sp::Popen(std::string)
  src/common/run_command.cpp
  src/common/run_command.h
  src/external_signer.cpp
  src/external_signer.h
  src/test/system_tests.cpp
  src/util/subprocess.h
Owners: none

test: Stricter unit test
  src/test/system_tests.cpp
Owners: none

build: define CMAKE_COMPILE_WARNING_AS_ERROR as a cache option
  CMakeLists.txt
Owners: none

clusterlin: track suboptimal chunks (optimization)
  src/cluster_linearize.h
  src/test/util/cluster_linearize.h
Owners: none

scripted-diff: rename _rep -> _idx in SFL
  src/cluster_linearize.h
Owners: none

clusterlin: add more Assumes and sanity checks (tests)
  src/cluster_linearize.h
Owners: none

clusterlin: make MergeSequence take SetIdx (simplification)
  src/cluster_linearize.h
Owners: none

clusterlin: keep track of active children (optimization)
  src/cluster_linearize.h
Owners: none

clusterlin: fix type to count dependencies
  src/cluster_linearize.h
Owners: none

clusterlin: simplify PickMergeCandidate (optimization)
  src/cluster_linearize.h
  src/test/util/cluster_linearize.h
Owners: none

clusterlin: precompute reachable sets (optimization)
  src/cluster_linearize.h
Owners: none

clusterlin: get rid of DepData (optimization)
  src/cluster_linearize.h
Owners: none

clusterlin: pool SetInfos (preparation)
  src/cluster_linearize.h
  src/test/util/cluster_linearize.h
Owners: none

clusterlin: avoid depgraph argument in SanityCheck (cleanup)
  src/cluster_linearize.h
  src/test/fuzz/cluster_linearize.cpp
Owners: @practicalswift

clusterlin: special-case self-merges (optimization)
  src/cluster_linearize.h
Owners: none

clusterlin: unidirectional MakeTopological initially (optimization)
  src/cluster_linearize.h
  src/test/util/cluster_linearize.h
Owners: none

clusterlin: improve TxData::dep_top_idx type (optimization)
  src/cluster_linearize.h
Owners: none

clusterlin: inline GetReachable into Deactivate (optimization)
  src/cluster_linearize.h
Owners: none

clusterlin: abstract out functions from MergeStep (refactor)
  src/cluster_linearize.h
Owners: none

clusterlin: count chunk deps without loop (optimization)
  src/cluster_linearize.h
Owners: none

clusterlin: inline UpdateChunk into (De)Activate (optimization)
  src/cluster_linearize.h
Owners: none

clusterlin: split up OptimizeStep (refactor)
  src/cluster_linearize.h
Owners: none

clusterlin: split tx/chunk dep counting (preparation)
  src/cluster_linearize.h
  src/test/util/cluster_linearize.h
Owners: none

test: Set assert_debug_log timeout to 0
  test/functional/feature_anchors.py
  test/functional/feature_config_args.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_dns_seeds.py
  test/functional/p2p_headers_sync_with_minchainwork.py
  test/functional/p2p_initial_headers_sync.py
  test/functional/p2p_mutated_blocks.py
  test/functional/p2p_sendtxrcncl.py
  test/functional/p2p_timeouts.py
  test/functional/p2p_v2_transport.py
  test/functional/rpc_net.py
  test/functional/test_framework/test_node.py
  test/functional/wallet_resendwallettransactions.py
Owners: none

refactor: use clearer variables in InvalidateBlock()
  src/validation.cpp
Owners: @sipa

validation: stop using BLOCK_FAILED_CHILD
  src/chain.h
  src/node/blockstorage.cpp
  src/test/blockchain_tests.cpp
  src/test/fuzz/chain.cpp
  src/validation.cpp
Owners: @practicalswift, @sipa

validation: remove BLOCK_FAILED_MASK
  src/chain.h
  src/node/blockstorage.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/test/blockchain_tests.cpp
  src/test/fuzz/block_index_tree.cpp
  src/test/fuzz/chain.cpp
  src/validation.cpp
Owners: @practicalswift, @sipa

validation: reset BLOCK_FAILED_CHILD to BLOCK_FAILED_VALID when loading from disk
  src/node/blockstorage.cpp
Owners: none

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa
