Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa

Update .appveyor.yml
  .appveyor.yml
Owners: none

Added updated bitcoin core icon both PNG / SVG
  src/qt/res/icons/bitcoin.png
  src/qt/res/src/bitcoin.svg
Owners: none

Added updated bitcoin icon
  src/qt/res/icons/bitcoin.png
Owners: none

gui: ensure inbound-block-relay peers have relevant services
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/rpcconsole.cpp
Owners: none

docs: update README notes for /interfaces
  src/interfaces/README.md
  src/node/README.md
Owners: @ryanofsky

scripted-diff: Use Courier New as tabular figures font in Overview page
  src/qt/forms/overviewpage.ui
Owners: @hebasto

configure: Disable embedded font by default, except for macOS/Windows
  configure.ac
Owners: none

Support building without embedded monospace font
  configure.ac
  src/Makefile.qt.include
  src/qt/bitcoin.cpp
  src/qt/bitcoin.qrc
  src/qt/bitcoin_font_monospace.qrc
  src/qt/optionsdialog.cpp
  src/qt/optionsmodel.cpp
Owners: none

qt: Drop unused parameter in GUIUtil::getSaveFileName
  src/qt/addressbookpage.cpp
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/psbtoperationsdialog.cpp
  src/qt/qrimagewidget.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/transactionview.cpp
  src/qt/walletview.cpp
Owners: none

qt: Drop unused parameter in GUIUtil::getOpenFileName
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/walletview.cpp
Owners: none

qt: Add URI info into -help output
  src/qt/bitcoin.cpp
  src/qt/bitcoingui.cpp
  src/qt/utilitydialog.cpp
  src/qt/utilitydialog.h
Owners: none

Wallet: Pass dump_filename to DumpWallet as an argument
  src/wallet/dump.cpp
  src/wallet/dump.h
  src/wallet/wallettool.cpp
Owners: @achow101

interfaces/Wallet: Add the ability to choose a backup format
  src/interfaces/wallet.h
  src/qt/walletview.cpp
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

interfaces/Wallet: Add DumpWallet format to backupWallet interface
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

GUI: Support backup to DumpWallet format
  src/qt/walletview.cpp
Owners: none

splash: New layout
  src/qt/splashscreen.cpp
Owners: none

Added updated bitcoin icon
  src/qt/res/icons/bitcoin.png
Owners: none

Added updated bitcoin core icon both PNG / SVG
  src/qt/res/icons/bitcoin.png
  src/qt/res/src/bitcoin.svg
Owners: none

Update src/interfaces/README.md
  src/interfaces/README.md
Owners: @ryanofsky

qt: Add BitcoinGUI::hideAll()
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
Owners: none

qt: Make requestShutdown() a slot
  src/qt/bitcoin.cpp
  src/qt/bitcoin.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/optionsdialog.cpp
  src/qt/optionsdialog.h
Owners: none

qt: Use BitcoinGUI::hideAll()
  src/qt/bitcoin.cpp
  src/qt/bitcoingui.cpp
Owners: none

qt: Do not block GUI thread in RPCConsole
  src/qt/bitcoin.cpp
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
Owners: none

qt: Factor out requestNodeShutdown() slot
  src/qt/bitcoin.cpp
  src/qt/bitcoin.h
Owners: none

Display node address in peer table with monospace font
  src/qt/peertablemodel.cpp
Owners: none

doc: macOS theme switching not supported
  doc/release-notes.md
Owners: none

qt: Make PlatformStyle aware of runtime palette change
  src/qt/platformstyle.cpp
  src/qt/platformstyle.h
Owners: none

qt: Make BitcoinGUI aware of runtime palette change
  src/qt/bitcoingui.cpp
Owners: none

gui: rename "Peer Id" to "Peer" in tab column and details area
  src/qt/peertablemodel.h
  src/qt/rpcconsole.cpp
Owners: none

gui: center-align the entries in the peers tab "Peer" column
  src/qt/peertablemodel.cpp
Owners: none

guiutil.cpp: add tr stubs for dev notes
  src/qt/guiutil.cpp
Owners: none

askpassphrasedialog.cpp: add tr stubs for dev notes
  src/qt/askpassphrasedialog.cpp
Owners: none

addressbookpage.cpp: add tr stubs for dev notes
  src/qt/addressbookpage.cpp
Owners: none

addresstablemodel.cpp: add tr stubs ofr dev notes
  src/qt/addresstablemodel.cpp
Owners: none

bantablemodel.cpp: add tr stubs for dev notes
  src/qt/bantablemodel.cpp
Owners: none

src/qt/bitcoin.cpp: add tr stubs for dev notes
  src/qt/bitcoin.cpp
Owners: none

src/qt/bitcoingui.cpp: add tr stubs for dev notes
  src/qt/bitcoingui.cpp
Owners: none

Update README.md
  README.md
Owners: none

gui: add Direction column to peers tab
  src/qt/peertablemodel.cpp
  src/qt/peertablemodel.h
  src/qt/peertablesortproxy.cpp
Owners: none

qt: Add "Copy address" item to the context menu in the Peers table
  src/qt/peertablemodel.cpp
  src/qt/rpcconsole.cpp
Owners: none
