Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

qt: Defer transaction signing until user clicks Send
  src/qt/sendcoinsdialog.cpp
  src/qt/walletmodel.cpp
Owners: none

gui: show wallet name in progress messages
  src/qt/walletcontroller.cpp
  src/wallet/wallet.cpp
Owners: @achow101

qt: Close transaction detail dialogs on wallet switch
  src/qt/walletframe.cpp
  src/qt/walletview.cpp
  src/qt/walletview.h
Owners: none

qt, test: Add test for closing transaction detail dialogs on wallet switch
  src/qt/test/wallettests.cpp
Owners: none

qt: prevent console hang on large RPC responses
  src/qt/rpcconsole.cpp
  src/qt/test/rpcnestedtests.cpp
Owners: none

qt: warn about rescan in wallet migration dialogs
  src/qt/walletcontroller.cpp
Owners: none

qt: Filter sign message address book locally
  src/qt/addressbookpage.cpp
  src/qt/addressbookpage.h
  src/qt/addresstablemodel.cpp
  src/qt/addresstablemodel.h
  src/qt/signverifymessagedialog.cpp
Owners: none

qt: Remove unused wallet model refresh
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Owners: none

qt: Add regression test for stale AddressTableModel pointer
  src/qt/test/addressbooktests.cpp
Owners: none

qt: Add regression test for signable address filter
  src/qt/test/addressbooktests.cpp
Owners: none

qt: fix out-of-bounds read in RPCParseCommandLine on empty command
  src/qt/rpcconsole.cpp
  src/qt/test/rpcnestedtests.cpp
Owners: none

gui: Update RPC console wallet when the active wallet changes
  src/qt/bitcoingui.cpp
Owners: none

GUI/Intro: Skip intro dialog when -blocksdir is manually passed
  src/qt/intro.cpp
Owners: none

gui: remove the unecessary padding before - and + signs
  src/qt/bitcoinunits.cpp
Owners: none

wallet, test: Include nonmempool balance in getBalances interface
  src/qt/test/wallettests.cpp
  src/wallet/interfaces.cpp
Owners: @achow101

qt: remove assert in formatWithPrivacy
  src/qt/bitcoinunits.cpp
Owners: none

interfaces: Add isChange to wallet interface
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

interfaces: Expose CreateRateBumpTransaction's orig_change_pos
  src/interfaces/wallet.h
  src/qt/walletmodel.cpp
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

gui, test: Ensure buttons are actually pressed before returning
  src/qt/test/util.cpp
  src/qt/test/wallettests.cpp
Owners: none

qt: Add a dialog to select the change output when bumping fee
  src/qt/CMakeLists.txt
  src/qt/bumpfeechoosechangedialog.cpp
  src/qt/bumpfeechoosechangedialog.h
  src/qt/forms/bumpfeechoosechangedialog.ui
  src/qt/test/wallettests.cpp
  src/qt/walletmodel.cpp
  test/lint/lint-circular-dependencies.py
Owners: @hebasto, @practicalswift

gui, test: Ensure buttons are actually pressed before returning
  src/qt/test/util.cpp
  src/qt/test/wallettests.cpp
Owners: none

qt: Add a dialog to select the change output when bumping fee
  src/qt/CMakeLists.txt
  src/qt/bumpfeechoosechangedialog.cpp
  src/qt/bumpfeechoosechangedialog.h
  src/qt/forms/bumpfeechoosechangedialog.ui
  src/qt/test/wallettests.cpp
  src/qt/walletmodel.cpp
  test/lint/lint-circular-dependencies.py
Owners: @hebasto, @practicalswift

interfaces: Expose CreateRateBumpTransaction's orig_change_pos
  src/interfaces/wallet.h
  src/qt/walletmodel.cpp
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

interfaces: Add isChange to wallet interface
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

qt: filter addhdkey from RPC console history
  src/qt/rpcconsole.cpp
  src/qt/test/rpcnestedtests.cpp
Owners: none

gui: Add non-mempool balance to wallet overview called OnHold
  src/qt/forms/overviewpage.ui
  src/qt/overviewpage.cpp
Owners: @hebasto

add release note
  doc/release-notes-911.md
Owners: none

test: Add test for non-mempool balance visibility
  src/qt/test/wallettests.cpp
Owners: none

Add GitHub Actions workflow for bitcoin package publishing
  .github/workflows/cmake-single-platform.yml
Owners: none

GUI/Intro: pass -blocksdir to getPathToCheck if present
  src/qt/intro.cpp
Owners: none

qt: Improve GUI appearance on macOS 26
  src/qt/bitcoin.cpp
  src/qt/bitcoin.qrc
  src/qt/bitcoingui.cpp
  src/qt/res/icons/spin-down.png
  src/qt/res/icons/spin-down@2x.png
  src/qt/res/icons/spin-up.png
  src/qt/res/icons/spin-up@2x.png
  src/qt/res/src/spin-down.svg
  src/qt/res/src/spin-up.svg
  src/qt/rpcconsole.cpp
  src/qt/test/apptests.cpp
Owners: none

qt: Use adaptive step size for database cache and prune size
  src/qt/forms/intro.ui
  src/qt/forms/optionsdialog.ui
Owners: @hebasto

src/qt/forms/debugwindow.ui:apply horz stretch
  src/qt/forms/debugwindow.ui
Owners: @hebasto

src/qt/forms/debugwindow.ui:remove verticalSpacer
  src/qt/forms/debugwindow.ui
Owners: @hebasto

src/qt/forms/debugwindow.ui:leftMargin 100
  src/qt/forms/debugwindow.ui
Owners: @hebasto

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa
