Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

interface: Expose load utxo snapshot functionality
  src/interfaces/node.h
  src/node/interfaces.cpp
Owners: @ryanofsky

poc: Load snapshot through the options dialog
  src/qt/CMakeLists.txt
  src/qt/optionsdialog.cpp
  src/qt/optionsdialog.h
  src/qt/snapshotmodel.cpp
  src/qt/snapshotmodel.h
Owners: none

poc: Add notification handler to display UTXO snapshot Load Progress
  src/interfaces/node.h
  src/kernel/notifications_interface.h
  src/node/interface_ui.cpp
  src/node/interface_ui.h
  src/node/interfaces.cpp
  src/node/kernel_notifications.cpp
  src/node/kernel_notifications.h
  src/qt/optionsdialog.cpp
  src/qt/optionsdialog.h
  src/validation.cpp
Owners: @ryanofsky, @sipa

util: Add FormatISO8601Time function for time-only ISO format
  src/util/time.cpp
  src/util/time.h
Owners: none

qt: Add formatBytesps function for bytes per second display
  src/qt/guiutil.cpp
Owners: none

qt: Enhance TrafficGraphWidget with multi-timeframe support and data persistence
  src/qt/forms/debugwindow.ui
  src/qt/guiutil.h
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/qt/trafficgraphwidget.cpp
  src/qt/trafficgraphwidget.h
Owners: @hebasto

gui: Menu action for exporting a watchonly wallet
  src/interfaces/wallet.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

wallet: Track whether a locked coin is persisted
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
Owners: @achow101

wallet: Write new descriptor's cache in AddWalletDescriptor
  src/wallet/wallet.cpp
Owners: @achow101

test: Test for exportwatchonlywallet
  test/functional/test_runner.py
  test/functional/wallet_exported_watchonly.py
Owners: none

wallet: Use Descriptor::CanSelfExpand() in CanGetAddresses()
  src/wallet/scriptpubkeyman.cpp
Owners: @achow101

descriptor: Add CanSelfExpand()
  src/script/descriptor.cpp
  src/script/descriptor.h
  src/wallet/test/walletload_tests.cpp
Owners: @achow101, @sipa

wallet: Add GetWalletFlags
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @achow101

wallet: Add CWallet::ExportWatchOnly
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @achow101

walletdb: Log additional exception error messages for corrupted wallets
  src/wallet/walletdb.cpp
Owners: @achow101

wallet: Set upgraded descriptor cache flag for newly created wallets
  src/wallet/wallet.cpp
Owners: @achow101

wallet, rpc: Push the normalized parent descriptor
  src/wallet/rpc/util.cpp
Owners: @achow101

wallet, rpc: Add exportwatchonlywallet RPC
  src/wallet/rpc/wallet.cpp
Owners: @achow101

wallet: Move listdescriptors retrieving from RPC to CWallet
  src/wallet/rpc/backup.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @achow101

gui: Menu action for exporting a watchonly wallet
  src/interfaces/wallet.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

wallet, interfaces, gui: Expose load_after_restore parameter
  src/interfaces/wallet.h
  src/qt/walletcontroller.cpp
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

gui: Add restore_and_migrate function to restore then migrate a wallet
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
Owners: none

gui: Move actual migration part of migrate() to its own function
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
Owners: none

gui: Add a menu item to restore then migrate a wallet file
  src/qt/bitcoingui.cpp
Owners: none

Including exception what() in Runaway dialog box
  src/qt/bitcoin.cpp
  src/qt/initexecutor.cpp
Owners: none

gui: Menu action for exporting a watchonly wallet
  src/interfaces/wallet.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

gui: Add restore_and_migrate function to restore then migrate a wallet
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
Owners: none

gui: Add a menu item to restore then migrate a wallet file
  src/qt/bitcoingui.cpp
Owners: none

gui: Move actual migration part of migrate() to its own function
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
Owners: none

wallet, interfaces, gui: Expose load_after_restore parameter
  src/interfaces/wallet.h
  src/qt/walletcontroller.cpp
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

gui: Add restore_and_migrate function to restore then migrate a wallet
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
Owners: none

wallet, interfaces, gui: Expose load_after_restore parameter
  src/interfaces/wallet.h
  src/qt/walletcontroller.cpp
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

gui: Add a menu item to restore then migrate a wallet file
  src/qt/bitcoingui.cpp
Owners: none

gui: Move actual migration part of migrate() to its own function
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
Owners: none

Fix broken navigation link to files documentation in README_doxygen.md
  doc/README_doxygen.md
Owners: none

New SVG, Icons, PNGs and X PixMaps
  share/pixmaps/bitcoin.ico
  share/pixmaps/bitcoin128.png
  share/pixmaps/bitcoin128.xpm
  share/pixmaps/bitcoin16.png
  share/pixmaps/bitcoin16.xpm
  share/pixmaps/bitcoin256.png
  share/pixmaps/bitcoin256.xpm
  share/pixmaps/bitcoin32.png
  share/pixmaps/bitcoin32.xpm
  share/pixmaps/bitcoin64.png
  share/pixmaps/bitcoin64.xpm
  src/qt/res/icons/bitcoin.icns
  src/qt/res/icons/bitcoin.ico
  src/qt/res/icons/bitcoin.png
  src/qt/res/src/bitcoin.svg
Owners: none

qt: clear command history when clearing the console
  src/qt/rpcconsole.cpp
Owners: none

interfaces: Implement snapshot loading functionality in node interface
  src/interfaces/node.h
  src/node/interfaces.cpp
Owners: @ryanofsky

poc: Load snapshot through the options dialog
  src/kernel/notifications_interface.h
  src/node/interface_ui.cpp
  src/node/interface_ui.h
  src/node/interfaces.cpp
  src/node/kernel_notifications.cpp
  src/node/kernel_notifications.h
  src/qt/CMakeLists.txt
  src/qt/optionsdialog.cpp
  src/qt/optionsdialog.h
  src/qt/snapshotmodel.cpp
  src/qt/snapshotmodel.h
  src/validation.cpp
Owners: @sipa

qt: add Ctrl+Shift+L to clear console and history; clear input only when Shift is held
  src/qt/rpcconsole.cpp
Owners: none

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa
