Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

doc: Expand documentation on asmap feature and tooling
  contrib/README.md
  src/init.cpp
Owners: none

Revert "valgrind: add suppression for bug 472219"
  contrib/valgrind.supp
Owners: none

refactor: Small style fixups in src/kernel/bitcoinkernel.cpp
  src/kernel/bitcoinkernel.cpp
  src/kernel/bitcoinkernel.h
Owners: none

test: Use clang-tidy named args for create_chainman
  src/test/kernel/test_kernel.cpp
Owners: none

test: kernel test fixups
  src/test/kernel/test_kernel.cpp
Owners: none

build: don't pass on boost dependency to kernel consumers
  src/kernel/CMakeLists.txt
Owners: none

iwyu: Fix patch to prefer `<cstdint>`
  ci/test/01_iwyu.patch
Owners: none

ci: remove commit count limit from `test-each-commit`
  .github/workflows/ci.yml
Owners: none

ci: fail fast in test-each-commit script
  .github/ci-test-each-commit-exec.py
Owners: none

FUZZ: Test that BnB finds best solution
  src/wallet/test/fuzz/coinselection.cpp
Owners: @achow101

doc: fix broken bpftrace installation link
  contrib/tracing/README.md
Owners: none

test: add ConnmanTestMsg convenience method Reset()
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/util/net.cpp
  src/test/util/net.h
Owners: @practicalswift

test: also reset CConnman::m_private_broadcast in tests
  src/net.h
  src/test/util/net.cpp
Owners: none

fees: reduce `MIN_BUCKET_FEERATE` to 100
  src/policy/fees/block_policy_estimator.h
Owners: none

fees: bump fees file version
  src/policy/fees/block_policy_estimator.cpp
Owners: none

fees: delete unused dummy field
  src/policy/fees/block_policy_estimator.cpp
Owners: none

test: ensure fee estimator provide fee rate estimate < 1 s/vb
  test/functional/feature_fee_estimation.py
Owners: none

doc: add release notes
  doc/release-notes-33199.md
Owners: none

cmake: Add missed `Boost::headers`
  src/ipc/CMakeLists.txt
Owners: none

depends: Prefix include path for headers-only `systemtap` package
  depends/packages/systemtap.mk
  depends/toolchain.cmake.in
Owners: none

cmake: Add missed `USDT::headers`
  src/test/CMakeLists.txt
Owners: none

depends: Prefix include path for headers-only `boost` package
  depends/packages/boost.mk
Owners: none

build: replace WERROR with CMAKE_COMPILE_WARNING_AS_ERROR
  .github/ci-test-each-commit-exec.py
  .github/workflows/ci.yml
  CMakeLists.txt
  ci/test/00_setup_env_native_previous_releases.sh
  ci/test/03_test_script.sh
Owners: @practicalswift

wallet: fix, make 'total_effective_amount' optional actually optional
  src/wallet/spend.cpp
  src/wallet/spend.h
Owners: @achow101

wallet: ensure COutput added in set are unique
  src/util/insert.h
  src/wallet/coinselection.cpp
  src/wallet/coinselection.h
  src/wallet/spend.cpp
  src/wallet/spend.h
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/fuzz/coinselection.cpp
Owners: @achow101

wallet: correctly reserve in CoinsResult::All()
  src/wallet/spend.cpp
Owners: @achow101

wallet: introduce GetAppropriateTotal() in CoinsResult
  src/wallet/spend.h
Owners: @achow101

refactor: Use SpanReader over DataStream
  src/bench/readwriteblock.cpp
  src/core_io.cpp
  src/kernel/bitcoinkernel.cpp
  src/net.cpp
  src/psbt.cpp
  src/qt/test/wallettests.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/txoutproof.cpp
  src/test/bloom_tests.cpp
  src/test/coins_tests.cpp
  src/test/fuzz/block.cpp
  src/test/fuzz/deserialize.cpp
  src/test/fuzz/script_flags.cpp
  src/test/fuzz/transaction.cpp
  src/test/fuzz/tx_in.cpp
  src/test/fuzz/tx_out.cpp
  src/test/fuzz/util.h
  src/test/net_tests.cpp
  src/test/netbase_tests.cpp
  src/test/sighash_tests.cpp
  src/test/transaction_tests.cpp
  src/wallet/rpc/backup.cpp
Owners: @achow101, @practicalswift

doc: Clarify why performance-move-const-arg.CheckTriviallyCopyableMove=false
  src/.clang-tidy
Owners: none

ci: Refactor Windows CI into script
  .github/ci-windows.py
  .github/workflows/ci.yml
Owners: none

ci: [refactor] Add .github/ci-windows.py build step
  .github/ci-windows.py
  .github/workflows/ci.yml
Owners: none

ci: Print verbose Windows CI build failure
  .github/ci-windows.py
Owners: none

ci: [refactor] Add .github/ci-windows.py prepare_tests step
  .github/ci-windows.py
  .github/workflows/ci.yml
Owners: none

walllet: use CoinsResult instead of PreSelectedInputs
  src/wallet/interfaces.cpp
  src/wallet/spend.cpp
  src/wallet/spend.h
  src/wallet/test/coinselector_tests.cpp
Owners: @achow101

wallet: introduce "tx amount exceeds balance when fees are included" error
  src/wallet/spend.cpp
  test/functional/wallet_bumpfee.py
  test/functional/wallet_fundrawtransaction.py
Owners: @achow101

wallet: remove PreSelectedInputs
  src/wallet/spend.h
Owners: @achow101

ci: add chimera Linux LTO CI job
  ci/test/00_setup_env_native_chimera_lto.sh
Owners: @practicalswift

refactor: [rpc] Remove confusing and brittle integral casts (take 2)
  src/core_io.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/net.cpp
  src/rpc/node.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/wallet/rpc/coins.cpp
  src/wallet/rpc/transactions.cpp
Owners: @achow101

Update Transifex slug for 31.x
  .tx/config
Owners: none

qt: Update the `src/qt/locale/bitcoin_en.xlf` translation source file
  src/qt/bitcoinstrings.cpp
  src/qt/locale/bitcoin_en.ts
  src/qt/locale/bitcoin_en.xlf
Owners: none

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa
