Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa

gui: Consolidate wallet display name to GUIUtil function
  src/qt/bitcoingui.cpp
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/walletcontroller.cpp
  src/qt/walletmodel.cpp
Owners: none

gui: Use wallet name for wallet migration rather than WalletModel
  src/qt/askpassphrasedialog.cpp
  src/qt/askpassphrasedialog.h
  src/qt/bitcoingui.cpp
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
Owners: none

gui: Use menu for wallet migration
  src/qt/bitcoingui.cpp
Owners: none

gui: Fix multiple dialogs for same tx in TransactionView
  src/qt/transactiondescdialog.cpp
  src/qt/transactiondescdialog.h
  src/qt/transactionview.cpp
  src/qt/transactionview.h
Owners: none

gui: Update about logo icon to denote chain type
  src/qt/bitcoin.cpp
  src/qt/bitcoingui.cpp
  src/qt/utilitydialog.cpp
  src/qt/utilitydialog.h
Owners: none

Deniability - a tool to automatically improve coin ownership privacy
  src/qt/CMakeLists.txt
  src/qt/bitcoin.qrc
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/deniabilitydialog.cpp
  src/qt/deniabilitydialog.h
  src/qt/forms/deniabilitydialog.ui
  src/qt/res/icons/crosseye.png
  src/qt/test/wallettests.cpp
  src/qt/walletframe.cpp
  src/qt/walletframe.h
  src/qt/walletview.cpp
  src/qt/walletview.h
Owners: @hebasto

interfaces: Expose CreateRateBumpTransaction's orig_change_pos
  src/interfaces/wallet.h
  src/qt/walletmodel.cpp
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

interfaces: Add isChange to wallet interface
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

qt: Add a dialog to select the change output when bumping fee
  src/qt/CMakeLists.txt
  src/qt/bumpfeechoosechangedialog.cpp
  src/qt/bumpfeechoosechangedialog.h
  src/qt/forms/bumpfeechoosechangedialog.ui
  src/qt/test/wallettests.cpp
  src/qt/walletmodel.cpp
  test/lint/lint-circular-dependencies.py
Owners: @hebasto, @practicalswift

Deniability - a tool to automatically improve coin ownership privacy
  src/qt/CMakeLists.txt
  src/qt/bitcoin.qrc
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/deniabilitydialog.cpp
  src/qt/deniabilitydialog.h
  src/qt/forms/deniabilitydialog.ui
  src/qt/res/icons/crosseye.png
  src/qt/test/wallettests.cpp
  src/qt/walletframe.cpp
  src/qt/walletframe.h
  src/qt/walletview.cpp
  src/qt/walletview.h
Owners: @hebasto

gui: Fix TransactionsView on setCurrentWallet
  src/qt/bitcoingui.cpp
Owners: none

gui: Fix multiple dialogs for same tx in TransactionView
  src/qt/transactiondescdialog.cpp
  src/qt/transactiondescdialog.h
  src/qt/transactionview.cpp
  src/qt/transactionview.h
Owners: none

gui: Refactor AddressType from ReceiveCoinsDialog
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/receivecoinsdialog.cpp
Owners: none

wallet: Correct output type for Segwit address
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

gui: Add Address Type Column to AddressBookPage
  src/qt/addressbookpage.cpp
  src/qt/addresstablemodel.cpp
  src/qt/addresstablemodel.h
  src/qt/walletmodel.cpp
Owners: none

gui: Extend address book filter for nested filtering
  src/qt/addressbookpage.cpp
  src/qt/addressbookpage.h
Owners: none

gui: Add a combo widget to filter by address type
  src/qt/addressbookpage.cpp
  src/qt/addressbookpage.h
  src/qt/forms/addressbookpage.ui
Owners: @hebasto

gui: Update about logo icon to denote chain type
  src/qt/bitcoin.cpp
  src/qt/bitcoingui.cpp
  src/qt/utilitydialog.cpp
  src/qt/utilitydialog.h
Owners: none

Update to MacOS icon
  src/qt/res/icons/Bitcoin.icns
Owners: none

correct case usage in filename
  src/qt/res/icons/Bitcoin.icns
  src/qt/res/icons/bitcoin.icns
Owners: none

Case-fixed in icns filename
  src/qt/res/icons/Bitcoin.icns
  src/qt/res/icons/bitcoin.icns
Owners: none

Pending changes exported from your codespace
  .vscode/tasks.json
  CMakeLists.txt
  package-lock.json
Owners: none

Create cmake-single-platform.yml
  .github/workflows/cmake-single-platform.yml
Owners: none

Update guiutil.cpp
  src/qt/guiutil.cpp
Owners: none

Update paymentserver.cpp
  src/qt/paymentserver.cpp
Owners: none

Update receiverequestdialog.cpp
  src/qt/receiverequestdialog.cpp
Owners: none

Update sendcoinsrecipient.h
  src/qt/sendcoinsrecipient.h
Owners: none

qt: Add addressList field to SendCoinsRecipient for multiple addresses
  src/qt/guiutil.cpp
  src/qt/paymentserver.cpp
  src/qt/receiverequestdialog.cpp
  src/qt/sendcoinsrecipient.h
Owners: none

Update libbitcoinkernel.pc.in
  libbitcoinkernel.pc.in
Owners: none

cmake: support -DBUILD_GUI=qt6
  CMakeLists.txt
  src/qt/CMakeLists.txt
Owners: none

util: Add GetTimeMillis convenience wrapper for chrono timestamps
  src/util/time.cpp
  src/util/time.h
Owners: none

util: Add FormatISO8601Time function for time-only ISO format
  src/util/time.cpp
  src/util/time.h
Owners: none

qt: Add formatBytesps function for bytes per second display
  src/qt/guiutil.cpp
Owners: none

net: Add setTotalBytes functionality for traffic data persistence
  src/interfaces/node.h
  src/net.cpp
  src/net.h
  src/node/interfaces.cpp
Owners: @ryanofsky

qt: Enhance TrafficGraphWidget with multi-timeframe support and data persistence
  src/qt/forms/debugwindow.ui
  src/qt/guiutil.h
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/qt/trafficgraphwidget.cpp
  src/qt/trafficgraphwidget.h
Owners: @hebasto

gui: crash fix, do not consume numBlocksChanged() events during shutdown
  src/qt/sendcoinsdialog.cpp
Owners: none

net: Add setTotalBytes functionality for traffic data persistence
  src/interfaces/node.h
  src/net.cpp
  src/net.h
  src/node/interfaces.cpp
Owners: @ryanofsky

qt: Add formatBytesps function for bytes per second display
  src/qt/guiutil.cpp
  src/qt/guiutil.h
Owners: none

util: Add FormatISO8601Time function for time-only ISO format
  src/util/time.cpp
  src/util/time.h
Owners: none

qt: Enhance TrafficGraphWidget with multi-timeframe support and data persistence
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/qt/trafficgraphwidget.cpp
  src/qt/trafficgraphwidget.h
Owners: @hebasto
