Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa

interfaces: Expose CreateRateBumpTransaction's orig_change_pos
  src/interfaces/wallet.h
  src/qt/walletmodel.cpp
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

qt: Add a dialog to select the change output when bumping fee
  src/qt/CMakeLists.txt
  src/qt/bumpfeechoosechangedialog.cpp
  src/qt/bumpfeechoosechangedialog.h
  src/qt/forms/bumpfeechoosechangedialog.ui
  src/qt/test/wallettests.cpp
  src/qt/walletmodel.cpp
  test/lint/lint-circular-dependencies.py
Owners: @hebasto, @practicalswift

gui fix transactions disable problem
  src/qt/bitcoingui.cpp
Owners: none

qt: Defer transaction signing until user clicks Send
  src/qt/sendcoinsdialog.cpp
  src/qt/walletmodel.cpp
Owners: none

remove glozow from trusted keys
  contrib/verify-commits/trusted-git-root
  contrib/verify-commits/trusted-keys
Owners: none

qt: Add checkbox to hide conflicted transactions
  src/qt/transactionview.cpp
  src/qt/transactionview.h
Owners: none

support multiple block status checks in CheckBlockDataAvailability
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/test/blockmanager_tests.cpp
Owners: none

ci: bump CCACHE_MAXSIZE to 2G
  ci/test/00_setup_env.sh
Owners: @practicalswift

ci: Treat SHA1 LLVM signing key as warning
  ci/test/01_base_install.sh
Owners: @practicalswift

Squashed 'src/secp256k1/' changes from 14e56970cb..57315a6985
  .github/actions/run-in-docker-action/action.yml
  .github/workflows/ci.yml
  .gitignore
  CMakeLists.txt
  Makefile.am
  autotools-aux/m4/bitcoin_secp.m4
  ci/linux-debian.Dockerfile
  configure.ac
  doc/release-process.md
  include/secp256k1.h
  src/CMakeLists.txt
  src/bench.h
  src/checkmem.h
  src/field.h
Owners: @laanwj

ci: detect apk usage generally
  ci/test/01_base_install.sh
Owners: @practicalswift

ci: use Alpine 3.23
  ci/test/00_setup_env_native_alpine_musl.sh
Owners: @practicalswift

test: Read debug log for self-checking comment
  test/functional/p2p_segwit.py
Owners: none

refactor: Use empty() over eof() in the streams interface
  src/net.cpp
  src/serialize.h
  src/streams.h
  src/test/dbwrapper_tests.cpp
  src/wallet/walletdb.cpp
Owners: @achow101

move-only: Move logging macros to util/log.h
  src/logging.h
  src/util/log.h
Owners: none

logging: use util/log.h where possible
  src/checkqueue.h
  src/coins.cpp
  src/dbwrapper.cpp
  src/flatfile.cpp
  src/index/base.cpp
  src/index/blockfilterindex.cpp
  src/index/coinstatsindex.cpp
  src/index/txindex.cpp
  src/kernel/chainparams.cpp
  src/kernel/coinstats.cpp
  src/kernel/context.cpp
  src/logging/timer.h
  src/node/blockstorage.cpp
  src/node/chainstate.cpp
  src/node/utxo_snapshot.cpp
  src/policy/truc_policy.cpp
  src/random.cpp
  src/script/sigcache.cpp
  src/signet.cpp
  src/streams.h
  src/sync.cpp
  src/sync.h
  src/txdb.cpp
  src/txmempool.cpp
  src/util/asmap.cpp
  src/util/batchpriority.cpp
  src/util/exception.cpp
  src/util/fs_helpers.cpp
  src/util/sock.cpp
  src/util/sock.h
  src/util/thread.cpp
  src/validation.cpp
  src/validationinterface.cpp
Owners: @sipa, @jamesob, @fjahr

move-only: move logging categories to logging/categories.h
  src/logging.h
  src/logging/categories.h
Owners: none

move-onlyish: Move logging levels to util/log.h
  src/logging.h
  src/util/log.h
Owners: none

logging: Move message formatting to util/log.h
  src/logging.cpp
  src/logging.h
  src/util/log.h
Owners: none

move-only: Move SourceLocation to util/log.h
  src/logging.h
  src/util/log.h
Owners: none

refactor: Avoid UB in SpanReader::ignore
  src/streams.h
Owners: none

refactor: [qt] Use SpanReader to avoid two vector copies
  src/qt/recentrequeststablemodel.cpp
Owners: none

refactor: Use SpanReader over DataStream
  src/dbwrapper.h
Owners: @jamesob

consensus/doc: explain unreachable `bad-txns-fee-outofrange` check
  src/consensus/tx_verify.cpp
Owners: @sipa

consensus/doc: explain `GetValueOut()` precondition
  src/consensus/tx_verify.cpp
Owners: @sipa

test: Test that key expression indexes match key count
  src/script/descriptor.cpp
  src/script/descriptor.h
  src/test/descriptor_tests.cpp
  src/test/fuzz/descriptor_parse.cpp
  src/wallet/test/walletload_tests.cpp
Owners: @achow101, @sipa

test: Test for musig() in various miniscript expressions
  test/functional/wallet_musig.py
Owners: none

descriptors: Increment key_exp_index in ParsePubkey(Inner)
  src/script/descriptor.cpp
Owners: @achow101, @sipa

miniscript: Use a reference to key_exp_index in KeyParser
  src/script/descriptor.cpp
Owners: @achow101, @sipa

miniscript: Using Func and Expr when parsing keys, hashes, and locktimes
  src/script/descriptor.cpp
  src/script/miniscript.h
  src/test/descriptor_tests.cpp
  src/test/fuzz/miniscript.cpp
  src/test/miniscript_tests.cpp
Owners: @achow101, @sipa, @practicalswift

ci: show more verbose ccache stats
  ci/test/03_test_script.sh
Owners: @practicalswift

Squashed 'src/leveldb/' changes from cad64b151d..ab6c84e6f3
  db/db_impl.cc
Owners: none

ci: Remove unused workaround after leveldb subtree bump
  ci/test/03_test_script.sh
Owners: @practicalswift

fees: make flushes log debug only
  src/policy/fees/block_policy_estimator.cpp
  test/functional/feature_fee_estimation.py
Owners: none

ci: Drop valgrind fuzz from GHA matrix
  .github/workflows/ci.yml
Owners: none

build: Add embedded asmap data
  src/node/data/ip_asn.dat
Owners: none

build: Generate ip_asn.dat.h during build process
  CMakeLists.txt
  cmake/script/GenerateHeaderFromRaw.cmake
  src/CMakeLists.txt
  test/CMakeLists.txt
  test/config.ini.in
  test/functional/test_framework/test_framework.py
Owners: none

init, net: Implement usage of binary-embedded asmap data
  src/init.cpp
  test/functional/feature_asmap.py
Owners: @jonatack

doc: Add initial asmap data documentation
  doc/asmap-data.md
  doc/release-process.md
Owners: @laanwj

ci: Use without embedded asmap build option in one ci job
  ci/test/00_setup_env_native_nowallet.sh
Owners: @practicalswift
