Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa

net: Store recipient node address in private broadcast
  src/net_processing.cpp
  src/private_broadcast.cpp
  src/private_broadcast.h
  src/test/private_broadcast_tests.cpp
Owners: @sipa

ci: Extend diff context for clang-format
  ci/test/03_test_script.sh
Owners: @practicalswift

Fixup TODO comment in feature_dbcrash.py; remove unnecessary sleep
  test/functional/feature_dbcrash.py
Owners: none

build: avoid exporting secp256k1 symbols
  cmake/secp256k1.cmake
Owners: none

build: Bump VS minimum supported version to 18.3
  .github/ci-windows.py
  .github/workflows/ci.yml
  CMakePresets.json
  doc/build-windows-msvc.md
Owners: none

refactor: Remove workaround for resolved MSVC bug
  src/kernel/chainparams.cpp
Owners: none

qt: Defer transaction signing until user clicks Send
  src/qt/sendcoinsdialog.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Owners: none

doc: archive release notes for v29.3
  doc/release-notes/release-notes-29.3.md
Owners: none

refactor: move-only: move `FeeEstimateMode` enum to `util/fees.h`
  src/policy/feerate.h
  src/util/fees.h
Owners: none

ci: Split vcpkg tools cache into restore/save
  .github/workflows/ci.yml
Owners: none

refactor: fees: split fee rate format from fee estimate mode
  src/common/messages.cpp
  src/policy/feerate.cpp
  src/policy/feerate.h
  src/rpc/fees.cpp
  src/test/amount_tests.cpp
  src/test/fuzz/string.cpp
  src/util/fees.h
  src/wallet/coincontrol.h
  src/wallet/rpc/spend.cpp
  src/wallet/spend.cpp
Owners: @practicalswift, @achow101

net: Add PrivateBroadcast::GetBroadcastInfo
  src/private_broadcast.cpp
  src/private_broadcast.h
  src/test/private_broadcast_tests.cpp
Owners: none

rpc: Add getprivatebroadcastinfo
  src/net_processing.cpp
  src/net_processing.h
  src/rpc/mempool.cpp
  src/test/fuzz/rpc.cpp
Owners: @sipa, @practicalswift

test: Cover getprivatebroadcastinfo in p2p_private_broadcast
  test/functional/p2p_private_broadcast.py
Owners: none

rpc: Add abortprivatebroadcast
  src/net_processing.cpp
  src/net_processing.h
  src/rpc/mempool.cpp
  src/test/fuzz/rpc.cpp
Owners: @sipa, @practicalswift

doc: Mention private broadcast RPCs in release notes
  doc/release-notes-29415.md
Owners: none

test: Cover abortprivatebroadcast in p2p_private_broadcast
  test/functional/p2p_private_broadcast.py
Owners: none

ipc mining: remove deprecated methods (incompatible schema change)
  src/interfaces/mining.h
  src/ipc/capnp/mining.capnp
  src/node/interfaces.cpp
  src/node/miner.cpp
  src/node/miner.h
  src/validation.cpp
  src/validation.h
  test/functional/interface_ipc_mining.py
  test/functional/test_framework/ipc_util.py
Owners: @ryanofsky, @sipa

ipc mining: pass missing context to BlockTemplate methods (incompatible schema change)
  src/ipc/capnp/mining.capnp
  test/functional/interface_ipc_mining.py
  test/functional/test_framework/ipc_util.py
Owners: none

ipc mining: break compatibility with existing clients (version bump)
  src/interfaces/init.h
  src/ipc/capnp/init.capnp
  test/functional/interface_ipc.py
Owners: @ryanofsky

ipc mining: declare constants for default field values
  src/ipc/capnp/mining.capnp
  src/ipc/test/ipc_test.cpp
  src/node/types.h
  src/policy/policy.h
Owners: none

test framework: expand expected_stderr, expected_ret_code options
  test/functional/test_framework/test_node.py
Owners: none

ipc mining: provide default option values (incompatible schema change)
  src/ipc/capnp/mining.capnp
  test/functional/interface_ipc_mining.py
Owners: none

rpc refactor: stop using deprecated getCoinbaseCommitment method
  src/rpc/mining.cpp
Owners: none

ipc test: add workaround to block_reserved_weight exception test
  test/functional/interface_ipc_mining.py
Owners: none

test: Fix intermittent issues in feature_assumevalid.py
  test/functional/feature_assumevalid.py
Owners: none

cmake: Fix NetBSD-specific workaround for Boost
  cmake/module/AddBoostIfNeeded.cmake
Owners: none

doc: Release notes for mining IPC interface bump
  doc/release-notes-33819.md
  doc/release-notes-34568.md
Owners: none

coins: introduce CoinsViewOverlay
  src/coins.cpp
  src/coins.h
  src/test/CMakeLists.txt
  src/test/coinsviewoverlay_tests.cpp
  src/test/fuzz/coinscache_sim.cpp
Owners: @sipa, @jamesob, @practicalswift

coins: add PeekCoin()
  src/coins.cpp
  src/coins.h
  src/test/coins_tests.cpp
  src/test/fuzz/coinscache_sim.cpp
Owners: @sipa, @jamesob, @practicalswift

coins: don't mutate main cache when connecting block
  src/test/validation_chainstate_tests.cpp
  src/validation.cpp
  src/validation.h
Owners: @sipa

fuzz: move backend mutating block to end of coins_view
  src/test/fuzz/coins_view.cpp
Owners: @practicalswift

fuzz: pass coins_view_cache to TestCoinsView in coins_view
  src/test/fuzz/coins_view.cpp
Owners: @practicalswift

fuzz: add target for CoinsViewOverlay
  src/test/fuzz/coins_view.cpp
Owners: @practicalswift

build: add kernel-specific warnings
  src/kernel/CMakeLists.txt
Owners: none

kernel: avoid potential duplicate object in shared library/binary
  src/support/lockedpool.cpp
  src/support/lockedpool.h
Owners: none

wallet, rpc:remove settxfee and paytxfee
  src/bitcoin-cli.cpp
  src/common/messages.cpp
  src/dummywallet.cpp
  src/policy/fees/block_policy_estimator.h
  src/qt/sendcoinsdialog.cpp
  src/rpc/client.cpp
  src/test/fuzz/fees.cpp
  src/wallet/coincontrol.h
  src/wallet/feebumper.cpp
  src/wallet/fees.cpp
  src/wallet/init.cpp
  src/wallet/rpc/spend.cpp
  src/wallet/rpc/wallet.cpp
  src/wallet/test/fuzz/fees.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/interface_bitcoin_cli.py
  test/functional/rpc_deprecated.py
  test/functional/rpc_getblockstats.py
  test/functional/wallet_basic.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_create_tx.py
  test/functional/wallet_fundrawtransaction.py
  test/functional/wallet_groups.py
  test/functional/wallet_multiwallet.py
  test/functional/wallet_txn_clone.py
Owners: @jonatack, @practicalswift, @achow101

release note
  doc/release-notes-32138.md
Owners: none

test: Avoid empty errmsg in JSONRPCException
  test/functional/test_framework/authproxy.py
  test/functional/test_framework/test_framework.py
Owners: none

qt: Replace three dots with ellipsis
  src/qt/bitcoingui.cpp
Owners: none
