Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

test: move IPC helpers to ipc_util.py
  test/functional/interface_ipc.py
  test/functional/test_framework/ipc_util.py
Owners: none

test: add interface_ipc_mining.py
  test/functional/interface_ipc.py
  test/functional/interface_ipc_mining.py
  test/functional/test_runner.py
Owners: none

test: split interface_ipc_mining.py into subtests
  test/functional/interface_ipc_mining.py
Owners: none

test: misc interface_ipc_mining.py improvements
  test/functional/interface_ipc_mining.py
Owners: none

test: Ensure invalid block was processed before checking debug.log
  test/functional/feature_assumevalid.py
Owners: none

gui: remove AmountWithFeeExceedsBalance error special case
  src/qt/sendcoinsdialog.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Owners: none

refactor: move CreatedTransactionResult to types.h
  src/wallet/spend.h
  src/wallet/types.h
Owners: @achow101

refactor: interfaces, make 'createTransaction' less error-prone
  src/interfaces/wallet.h
  src/qt/walletmodel.cpp
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

test: have mining template helpers return None
  test/functional/interface_ipc_mining.py
  test/functional/test_framework/ipc_util.py
Owners: none

mining: enforce minimum reserved weight for IPC
  src/node/interfaces.cpp
  src/node/types.h
  test/functional/interface_ipc_mining.py
Owners: none

mining: fix -blockreservedweight shadows IPC option
  src/init.cpp
  src/node/miner.cpp
  src/node/types.h
  test/functional/interface_ipc_mining.py
Owners: none

test: add a chunk test for txgraph
  src/test/txgraph_tests.cpp
Owners: none

test: add block builder tests for txgraph
  src/test/txgraph_tests.cpp
Owners: none

test: add a test for txgraph staging
  src/test/txgraph_tests.cpp
Owners: none

fuzz: call `EmplaceCoinInternalDANGER` as well in `SimulationTest`
  src/test/coins_tests.cpp
Owners: none

coins: Keep track of number of dirty entries in `CCoinsViewCache`
  src/coins.cpp
  src/coins.h
  src/test/coins_tests.cpp
  src/test/fuzz/coins_view.cpp
Owners: @sipa, @jamesob, @practicalswift

validation: Use dirty entry count in flush warnings and disk space checks
  src/coins.h
  src/txdb.cpp
  src/validation.cpp
Owners: @sipa, @jamesob

ci: Add run_tests step to ci-windows.py
  .github/ci-windows.py
  .github/workflows/ci.yml
Owners: none

ci: Add check_manifests to ci-windows.py
  .github/ci-windows.py
  .github/workflows/ci.yml
Owners: none

ci: Rely on cmake --preset toolchain file
  .github/ci-windows.py
  .github/workflows/ci.yml
Owners: none

ci: Use ubuntu-slim for [meta] runners
  .github/workflows/ci.yml
Owners: none

validation: don't update BLOCK_FAILED_VALID to BLOCK_FAILED_CHILD in InvalidateBlock
  src/validation.cpp
Owners: @sipa

txgraph: initialize Ref in AddTransaction (preparation)
  src/bench/blockencodings.cpp
  src/bench/mempool_ephemeral_spends.cpp
  src/bench/mempool_eviction.cpp
  src/bench/mempool_stress.cpp
  src/bench/rpc_mempool.cpp
  src/bench/txgraph.cpp
  src/kernel/mempool_entry.h
  src/test/fuzz/txgraph.cpp
  src/test/fuzz/util/mempool.cpp
  src/test/txgraph_tests.cpp
  src/test/util/txmempool.cpp
  src/txgraph.cpp
  src/txgraph.h
  src/txmempool.cpp
Owners: @practicalswift

txgraph: use fallback order when linearizing (feature)
  src/txgraph.cpp
Owners: none

clusterlin: make optimal linearizations deterministic (feature)
  src/bench/cluster_linearize.cpp
  src/cluster_linearize.h
  src/test/cluster_linearize_tests.cpp
  src/test/fuzz/cluster_linearize.cpp
  src/test/fuzz/txgraph.cpp
  src/txgraph.cpp
Owners: @practicalswift

txgraph: clear cluster's chunk index in ~Ref (preparation)
  src/txgraph.cpp
Owners: none

txgraph: use fallback order to sort chunks (feature)
  src/test/fuzz/txgraph.cpp
  src/txgraph.cpp
  test/functional/mempool_packages.py
Owners: @practicalswift

txgraph: update chunk index on Compact (preparation)
  src/txgraph.cpp
Owners: none

txgraph: sort distinct-cluster chunks by equal-feerate-prefix size (feature)
  src/test/fuzz/txgraph.cpp
  src/txgraph.cpp
Owners: @practicalswift

txgraph test: subclass TxGraph::Ref like mempool does (preparation)
  src/test/fuzz/txgraph.cpp
Owners: @practicalswift

clusterlin: sort tx in chunk by feerate and size (feature)
  src/cluster_linearize.h
  src/test/fuzz/cluster_linearize.cpp
Owners: @practicalswift

txgraph: pass fallback_order to TxGraph (preparation)
  src/bench/txgraph.cpp
  src/primitives/transaction_identifier.h
  src/test/fuzz/txgraph.cpp
  src/test/txgraph_tests.cpp
  src/txgraph.cpp
  src/txgraph.h
  src/txmempool.cpp
Owners: @practicalswift

ci: [refactor] Move print_version step into ci-windows-cross.py helper
  .github/ci-windows-cross.py
  .github/workflows/ci.yml
Owners: none

ci: Move check_manifests step to ci-windows-cross.py
  .github/ci-windows-cross.py
  .github/workflows/ci.yml
Owners: none

ci: [refactor] Move config.ini rewrite to ci-windows-cross.py
  .github/ci-windows-cross.py
  .github/workflows/ci.yml
Owners: none

ci: [refactor] Move pyzmq install and get_previous_releases into ci-windows-cross.py
  .github/ci-windows-cross.py
  .github/workflows/ci.yml
Owners: none

ci: Move run_functional_tests into ci-windows-cross.py
  .github/ci-windows-cross.py
  .github/workflows/ci.yml
Owners: none

ci: Set PREVIOUS_RELEASES_DIR env var in ci-windows-cross.py
  .github/ci-windows-cross.py
  .github/workflows/ci.yml
Owners: none

ci: [refactor] Move run_unit_tests to ci-windows-cross.py
  .github/ci-windows-cross.py
  .github/workflows/ci.yml
Owners: none

ci: [refactor] Use pathlib over os.path
  .github/ci-windows.py
Owners: none

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa
