Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa

qt, test, refactor: Use the same shutdown path as in bitcoin-qt binary
  src/qt/test/apptests.cpp
Owners: none

qt, refactor: Group banHeading and banlistWidget in debugwindow.ui
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
Owners: @hebasto

qt: Add ability to resize Peer and Ban table
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
Owners: @hebasto

Showing Local Addresses in Node Window
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
Owners: @hebasto

add struct `AddressInfo`
  src/wallet/wallet.h
Owners: @achow101

add `ScriptPubKeyMan::ListAddresses()`
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
Owners: @achow101

add `CWallet::ListAddresses`
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @achow101

add `listaddresses` RPC
  src/rpc/client.cpp
  src/wallet/rpc/addresses.cpp
  src/wallet/rpc/wallet.cpp
Owners: @achow101

add `AddressInfoTableModel`
  build_msvc/libbitcoin_qt/libbitcoin_qt.vcxproj
  src/Makefile.qt.include
  src/qt/addressinfotablemodel.cpp
  src/qt/addressinfotablemodel.h
Owners: @sipsorcery

add `interfaces::Wallet::listAddresses`
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

add `listaddresses` tests
  test/functional/test_runner.py
  test/functional/wallet_listaddresses.py
Owners: none

update Address table when new address is generated
  src/qt/receivecoinsdialog.cpp
Owners: none

add `m_address_info_table_model` to `class WalletModel`
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Owners: none

add `AddressInfoView` to `WalletView`
  src/qt/walletview.cpp
  src/qt/walletview.h
Owners: none

add `Addresses` tab
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
Owners: none

add `gotoAddressInfoPage` in `class WalletFrame`
  src/qt/walletframe.cpp
  src/qt/walletframe.h
Owners: none

add `class AddressInfoView`
  build_msvc/libbitcoin_qt/libbitcoin_qt.vcxproj
  src/Makefile.qt.include
  src/qt/addressinfoview.cpp
  src/qt/addressinfoview.h
Owners: @sipsorcery

Update receivecoinsdialog.ui
  src/qt/forms/receivecoinsdialog.ui
Owners: @hebasto

Update sendcoinsdialog.ui
  src/qt/forms/sendcoinsdialog.ui
Owners: @hebasto

Bugfix: GUI: Allow the user to start anyway when loading a wallet errors
  src/wallet/load.cpp
Owners: @achow101

GUI: implement ExceptionSafeConnectWorker
  src/qt/guiutil.cpp
  src/qt/guiutil.h
Owners: none

GUI: exception safe drop-in replacement for QTimer::singleShot
  src/qt/guiutil.h
  src/qt/walletcontroller.cpp
Owners: none

Persist "mask values" in gui
  src/qt/bitcoingui.cpp
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
  src/qt/overviewpage.cpp
Owners: none

GUI: Intro: Output a std::unique_ptr<Intro> from Intro::showIfNeeded
  src/qt/bitcoin.cpp
  src/qt/intro.cpp
  src/qt/intro.h
Owners: none

GUI: Intro: Have user choose assumevalid
  src/qt/bitcoin.cpp
  src/qt/bitcoin.h
  src/qt/forms/intro.ui
  src/qt/intro.cpp
  src/qt/intro.h
  src/util/settings.h
Owners: @hebasto, @ryanofsky

Fix Requested Payments History Multiselect
  src/qt/receivecoinsdialog.cpp
  src/qt/receivecoinsdialog.h
  src/qt/recentrequeststablemodel.cpp
  src/qt/recentrequeststablemodel.h
Owners: none

Show labels for multiple SendToSelf addresses
  src/qt/transactiontablemodel.cpp
Owners: none

gui:rpcconsole.cpp: map Ctrl+0 to clear RPC console
  src/qt/rpcconsole.cpp
Owners: none

qt: Adjust plural forms for translations
  src/qt/locale/bitcoin_en.ts
Owners: none

qt: Update translation source file
  src/qt/bitcoinstrings.cpp
  src/qt/locale/bitcoin_en.ts
  src/qt/locale/bitcoin_en.xlf
Owners: none

wallet: implement IsKeyActive() in scriptpubkeyman
  src/script/descriptor.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
Owners: @achow101, @sipa

test: cover "isactive" field in rpc getaddressinfo
  test/functional/wallet_keypool.py
Owners: none

doc: release notes for #27216
  doc/release-notes/release-notes-27216.md
Owners: none

wallet: implement IsDestinationActive() and add to rpc getaddressinfo
  src/wallet/rpc/addresses.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @achow101

test: cover ScriptPubKeyMan::IsKeyActive()
  src/wallet/test/scriptpubkeyman_tests.cpp
Owners: @achow101

qt: add warnings to receive request table and dialog
  src/interfaces/wallet.h
  src/qt/forms/receiverequestdialog.ui
  src/qt/receivecoinsdialog.cpp
  src/qt/receiverequestdialog.cpp
  src/qt/receiverequestdialog.h
  src/qt/recentrequeststablemodel.cpp
  src/qt/recentrequeststablemodel.h
  src/qt/test/wallettests.cpp
  src/qt/walletmodel.cpp
  src/wallet/interfaces.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @ryanofsky, @hebasto, @achow101

qt: update address warnings when wallet is encrypted
  src/interfaces/wallet.h
  src/qt/addresstablemodel.cpp
  src/qt/addresstablemodel.h
  src/qt/bitcoingui.cpp
  src/qt/signverifymessagedialog.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/qt/walletview.cpp
  src/qt/walletview.h
  src/wallet/interfaces.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Owners: @ryanofsky, @achow101

qt: add warning labels in address book receive tab
  src/interfaces/wallet.h
  src/qt/addresstablemodel.cpp
  src/qt/addresstablemodel.h
  src/qt/signverifymessagedialog.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

qt: implemented importpubkey, importprivkey, and importaddress GUI's
  build_msvc/libbitcoin_qt/libbitcoin_qt.vcxproj
  src/Makefile.qt.include
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/forms/importdialog.ui
  src/qt/importdialog.cpp
  src/qt/importdialog.h
  src/qt/walletframe.cpp
  src/qt/walletframe.h
  src/qt/walletview.cpp
  src/qt/walletview.h
Owners: @sipsorcery, @hebasto

refactor: importmulti and importdescriptors rpc
  src/Makefile.am
  src/wallet/imports.cpp
  src/wallet/imports.h
  src/wallet/rpc/backup.cpp
Owners: @achow101
