Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

gui: improve connection type translations and translator comments
  src/qt/guiutil.cpp
  src/qt/rpcconsole.cpp
Owners: none

gui: use SPACE constant, QStringBuilder concat in rpcconsole.cpp
  src/qt/rpcconsole.cpp
Owners: none

gui: add missing QLatin1String, QStringBuilder headers
  src/qt/addressbookpage.cpp
  src/qt/psbtoperationsdialog.cpp
  src/qt/qrimagewidget.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/transactionview.cpp
  src/qt/walletview.cpp
Owners: none

Revert "Peertableview alternating row colors"
  src/qt/forms/debugwindow.ui
Owners: @hebasto

Display progress of LoadBlockDB() on splash screen
  src/init.cpp
  src/txdb.cpp
  src/txdb.h
  src/validation.cpp
Owners: @jamesob, @sipa

Added icon policy documentation.
  src/qt/res/README.md
Owners: none

Added icon policy documentation.
  src/qt/res/README.md
Owners: none

doc: introduce icon policy documentation
  src/qt/res/README.md
Owners: none

Remove `gui_issue` from issue templates
  .github/ISSUE_TEMPLATE/gui_issue.md
Owners: none

gui: Improve Overview tab look on Windows
  src/qt/forms/overviewpage.ui
Owners: @hebasto

qt: mempool stats chart
  src/Makefile.qt.include
  src/interfaces/node.h
  src/node/interfaces.cpp
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
  src/qt/forms/debugwindow.ui
  src/qt/forms/mempoolstats.ui
  src/qt/mempoolstats.cpp
  src/qt/mempoolstats.h
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
Owners: @ryanofsky, @hebasto

Network Graph layout
  src/qt/forms/debugwindow.ui
Owners: @hebasto

qt: peers-tab hide horizontal scroll bars
  src/qt/rpcconsole.cpp
Owners: none

qt: Add "Copy address" item to the context menu in the Peers table
  src/qt/rpcconsole.cpp
Owners: none

gui: add Direction column to peers tab
  src/qt/peertablemodel.cpp
  src/qt/peertablemodel.h
  src/qt/peertablesortproxy.cpp
Owners: none

qt: connection type translator comments
  src/qt/guiutil.cpp
  src/qt/rpcconsole.cpp
Owners: none

qt: Use QVariant instead of int for BitcoinUnit in QSettings
  src/qt/bitcoin.cpp
  src/qt/bitcoinunits.cpp
  src/qt/bitcoinunits.h
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
Owners: none

qt, refactor: Make BitcoinUnits::Unit a scoped enum
  src/qt/bitcoinamountfield.cpp
  src/qt/bitcoinamountfield.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/bitcoinunits.cpp
  src/qt/bitcoinunits.h
  src/qt/coincontroldialog.cpp
  src/qt/guiutil.cpp
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
  src/qt/overviewpage.cpp
  src/qt/psbtoperationsdialog.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/test/wallettests.cpp
  src/qt/transactiondesc.cpp
  src/qt/transactiondesc.h
  src/qt/transactiontablemodel.cpp
  src/qt/walletview.h
Owners: none

qt, refactor: Remove default cases for scoped enum
  src/qt/bitcoinunits.cpp
Owners: none

qt, refactor: Remove BitcoinUnits::valid function
  src/qt/bitcoinunits.cpp
  src/qt/bitcoinunits.h
Owners: none

qt: Skip displayUnitChanged signal if unit is not actually changed
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
Owners: none

qt: Fix PaymentServer::handleURIOrFile warning message
  src/qt/paymentserver.cpp
Owners: none

qt: Avoid ambiguous interpreting of placeholders
  src/qt/bitcoingui.cpp
  src/qt/modaloverlay.cpp
Owners: none

refactor: replace QDateTime::fromTime_t with QDateTime::fromSecsSinceEpoch
  src/qt/bitcoingui.cpp
  src/qt/clientmodel.cpp
  src/qt/guiutil.cpp
  src/qt/recentrequeststablemodel.h
  src/qt/rpcconsole.cpp
  src/qt/transactionfilterproxy.cpp
  src/qt/transactiontablemodel.cpp
Owners: none

refactor: replace QDateTime::toTime_t with QDateTime::toSecsSinceEpoch
  src/qt/recentrequeststablemodel.cpp
  src/qt/recentrequeststablemodel.h
Owners: none

qt: make GUIUtil::ThemedLabel UI form friendly
  src/qt/guiutil.cpp
  src/qt/guiutil.h
Owners: none

Create gui.h
  .github/Workflows/bitcoin-core-/gui.h
Owners: none

Create gui.h
  MAKEFILE.PL./gui.h
Owners: none

qt: peers-tab resizeColumnsToContents
  src/qt/bantablemodel.cpp
  src/qt/bantablemodel.h
  src/qt/peertablemodel.cpp
  src/qt/peertablemodel.h
  src/qt/peertablesortproxy.cpp
  src/qt/rpcconsole.cpp
Owners: none

Create .js
  .github/Workflows/bitcoin-core-/build/.js
Owners: none

Create .py
  .github/Workflows/bitcoin-core-/build/.py
Owners: none

Create .js
  ci/run_config-/build-0Caml.f/-ci-circleci/.js
Owners: none

qt, refactor: Fix indentation in optionsdialog.ui
  src/qt/forms/optionsdialog.ui
Owners: @hebasto

qt: Add "Alternating Row Color" settings for the Peers Tab
  src/qt/forms/debugwindow.ui
  src/qt/forms/optionsdialog.ui
  src/qt/optionsdialog.cpp
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
Owners: @hebasto

qt, refactor: Apply clang-format to the OptionsModel::OptionID enum
  src/qt/optionsmodel.h
Owners: none

Update txdb.cpp
  src/txdb.cpp
Owners: @jamesob

Display send/recv in bps instead of totals in the debug window
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/peertablemodel.cpp
  src/qt/peertablemodel.h
  src/qt/peertablesortproxy.cpp
Owners: none

gui: remove "Type" column from Peers main window
  src/qt/peertablemodel.cpp
  src/qt/peertablemodel.h
  src/qt/peertablesortproxy.cpp
Owners: none

gui: remove ConnectionTypeToQString prepend_direction param
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/rpcconsole.cpp
Owners: none

Fix #367
  src/qt/peertablemodel.cpp
  src/qt/rpcconsole.cpp
Owners: none

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa
