Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa

Gui: getrawtransaction Implementation
  build_msvc/libbitcoin_qt/libbitcoin_qt.vcxproj
  src/Makefile.qt.include
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/forms/toolsdialog.ui
  src/qt/toolsdialog.cpp
  src/qt/toolsdialog.h
Owners: @sipsorcery, @hebasto

interfaces: Expose CreateRateBumpTransaction's orig_change_pos
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

interfaces: Add isChange to wallet interface
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

qt: Add a dialog to select the change output when bumping fee
  build_msvc/libbitcoin_qt/libbitcoin_qt.vcxproj
  src/Makefile.qt.include
  src/qt/bumpfeechoosechangedialog.cpp
  src/qt/bumpfeechoosechangedialog.h
  src/qt/forms/bumpfeechoosechangedialog.ui
  src/qt/test/wallettests.cpp
  src/qt/walletmodel.cpp
  test/lint/lint-circular-dependencies.py
Owners: @sipsorcery, @hebasto, @practicalswift

Update sendcoinsdialog.cpp
  src/qt/sendcoinsdialog.cpp
Owners: none

Update receivecoinsdialog.cpp
  src/qt/receivecoinsdialog.cpp
Owners: none

fix: typo in doc/Doxyfile.in
  doc/Doxyfile.in
Owners: @fanquake

fix: typo in test/functional/wallet_backup.py
  test/functional/wallet_backup.py
Owners: none

refactor: Readable widget naming for debug window
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
Owners: @hebasto

qt: refactor console-only command parsing
  src/qt/rpcconsole.cpp
Owners: none

qt: add generate command to gui console
  src/qt/rpcconsole.cpp
Owners: none

gui: Show spendable balance for keyless watch-only
  src/qt/overviewpage.cpp
Owners: none

Deniability - a tool to automatically improve coin ownership privacy
  build_msvc/libbitcoin_qt/libbitcoin_qt.vcxproj
  src/Makefile.qt.include
  src/qt/bitcoin.qrc
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/deniabilitydialog.cpp
  src/qt/deniabilitydialog.h
  src/qt/forms/deniabilitydialog.ui
  src/qt/res/icons/crosseye.png
  src/qt/test/wallettests.cpp
  src/qt/walletframe.cpp
  src/qt/walletframe.h
  src/qt/walletview.cpp
  src/qt/walletview.h
Owners: @sipsorcery, @hebasto

Fixed linter error about bitcoin-config.h not being included.
  src/qt/deniabilitydialog.cpp
Owners: none

Create devcontainer.json
  .devcontainer/devcontainer.json
Owners: none

gui: remove unreachable AmountWithFeeExceedsBalance error
  src/qt/walletmodel.cpp
Owners: none

refactor: move CreatedTransactionResult to an util file
  src/Makefile.am
  src/wallet/spend.h
  src/wallet/util_spend.h
Owners: @achow101

refactor: interfaces, make 'createTransaction' less error-prone
  src/interfaces/wallet.h
  src/qt/walletmodel.cpp
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

gui: change example address from legacy (P2PKH) to bech32m (P2TR)
  src/qt/guiutil.cpp
Owners: none

RPCConsole: add hidePeersDetailButton and connect to RPCConsole::clearSelectedNode
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
Owners: @hebasto

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: none

qt/guiconstants: update ORG_DOMAIN to bitcoincore.org
  src/qt/guiconstants.h
Owners: none

gui: Fix multiple dialogs for same tx in TransactionView
  src/qt/transactiondescdialog.cpp
  src/qt/transactiondescdialog.h
  src/qt/transactionview.cpp
  src/qt/transactionview.h
Owners: none

GUI: Enable customisation of QR Code font
  src/qt/forms/optionsdialog.ui
  src/qt/optionsdialog.cpp
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
  src/qt/qrimagewidget.cpp
  src/qt/qrimagewidget.h
  src/qt/receiverequestdialog.cpp
Owners: @hebasto

GUI: Change default QR Code font to embedded
  src/qt/optionsmodel.h
Owners: none

Deniability - a tool to automatically improve coin ownership privacy
  build_msvc/libbitcoin_qt/libbitcoin_qt.vcxproj
  src/Makefile.qt.include
  src/qt/bitcoin.qrc
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/deniabilitydialog.cpp
  src/qt/deniabilitydialog.h
  src/qt/forms/deniabilitydialog.ui
  src/qt/res/icons/crosseye.png
  src/qt/test/wallettests.cpp
  src/qt/walletframe.cpp
  src/qt/walletframe.h
  src/qt/walletview.cpp
  src/qt/walletview.h
Owners: @sipsorcery, @hebasto

gui: Update about logo icon to denote chain type
  src/qt/bitcoingui.cpp
  src/qt/utilitydialog.cpp
  src/qt/utilitydialog.h
Owners: none

net: Providing an interface for mapLocalHost
  src/interfaces/node.h
  src/net.cpp
  src/net.h
  src/node/interfaces.cpp
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
Owners: @ryanofsky

Showing local addresses on the Node Window
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
Owners: @hebasto

gui: Fix TransactionsView on setCurrentWallet
  src/qt/bitcoingui.cpp
Owners: none

wallet: Improve error log color in the console
  src/qt/rpcconsole.cpp
Owners: none

wallet: Use softer reds for errors
  src/qt/optionsdialog.cpp
  src/qt/rpcconsole.cpp
  src/qt/signverifymessagedialog.cpp
Owners: none

wallet, interfaces: Include database format in listWalletDir
  src/interfaces/wallet.h
  src/qt/bitcoingui.cpp
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/interfaces.cpp
  src/wallet/rpc/wallet.cpp
Owners: @ryanofsky, @achow101

gui: Consolidate wallet display name to GUIUtil function
  src/qt/bitcoingui.cpp
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/walletcontroller.cpp
  src/qt/walletmodel.cpp
Owners: none

gui: Use wallet name for wallet migration rather than WalletModel
  src/qt/askpassphrasedialog.cpp
  src/qt/askpassphrasedialog.h
  src/qt/bitcoingui.cpp
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
Owners: none

gui: Use menu for wallet migration
  src/qt/bitcoingui.cpp
Owners: none

gui: improve user dialog when signing multisig psbts
  src/qt/psbtoperationsdialog.cpp
Owners: none

Deniability - a tool to automatically improve coin ownership privacy
  build_msvc/libbitcoin_qt/libbitcoin_qt.vcxproj
  src/Makefile.qt.include
  src/qt/bitcoin.qrc
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/deniabilitydialog.cpp
  src/qt/deniabilitydialog.h
  src/qt/forms/deniabilitydialog.ui
  src/qt/res/icons/crosseye.png
  src/qt/test/wallettests.cpp
  src/qt/walletframe.cpp
  src/qt/walletframe.h
  src/qt/walletview.cpp
  src/qt/walletview.h
  src/wallet/spend.cpp
Owners: @sipsorcery, @hebasto, @achow101

gui: Fix multiple dialogs for same tx in TransactionView
  src/qt/transactiondescdialog.cpp
  src/qt/transactiondescdialog.h
  src/qt/transactionview.cpp
  src/qt/transactionview.h
Owners: none

wallet, interfaces: Include database format in listWalletDir
  src/interfaces/wallet.h
  src/qt/bitcoingui.cpp
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/interfaces.cpp
  src/wallet/rpc/wallet.cpp
Owners: @ryanofsky, @achow101
