Repository bitcoin-core/gui, changes with the owners that CODEOWNERS names for each.
All owners: @fanquake, @jonasschnelli, @ariard, @hebasto, @laanwj, @sipsorcery, @ryanofsky, @practicalswift, @jonatack, @dongcarl, @achow101, @fjahr, @sipa, @jamesob

interfaces: Add functions for import gui
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

qt: implemented importmulti and importdescriptors GUI's
  build_msvc/libbitcoin_qt/libbitcoin_qt.vcxproj
  src/Makefile.qt.include
  src/qt/bitcoingui.cpp
  src/qt/forms/importdialog.ui
  src/qt/forms/importentry.ui
  src/qt/importdialog.cpp
  src/qt/importdialog.h
  src/qt/importentry.cpp
  src/qt/importentry.h
  src/qt/walletframe.cpp
  src/qt/walletframe.h
  src/qt/walletview.cpp
  src/qt/walletview.h
Owners: @sipsorcery, @hebasto

qt, test: add importdescriptors tests
  build_msvc/test_bitcoin-qt/test_bitcoin-qt.vcxproj
  src/Makefile.qttest.include
  src/qt/test/importdescriptorstests.cpp
  src/qt/test/importdescriptorstests.h
  src/qt/test/test_main.cpp
Owners: @sipsorcery, @achow101, @sipa

qt, test: add importpubkey, importprivkey, and importaddress tests
  build_msvc/test_bitcoin-qt/test_bitcoin-qt.vcxproj
  src/Makefile.qttest.include
  src/qt/test/importlegacytests.cpp
  src/qt/test/importlegacytests.h
  src/qt/test/test_main.cpp
Owners: @sipsorcery

qt, test: add importmulti tests
  build_msvc/test_bitcoin-qt/test_bitcoin-qt.vcxproj
  src/Makefile.qttest.include
  src/qt/test/importmultitests.cpp
  src/qt/test/importmultitests.h
  src/qt/test/test_main.cpp
  src/qt/test/util.cpp
  src/qt/test/util.h
Owners: @sipsorcery

Create c-cpp.yml
  .github/workflows/c-cpp.yml
Owners: none

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: none

Create jekyll-docker.yml
  .github/workflows/jekyll-docker.yml
Owners: none

Create azure-container-webapp.yml
  .github/workflows/azure-container-webapp.yml
Owners: none

Create aws.yml
  .github/workflows/aws.yml
Owners: none

Create azure-functions-app-python.yml
  .github/workflows/azure-functions-app-python.yml
Owners: none

GUI: Support translating Bitcoin units
  src/qt/bitcoinunits.cpp
Owners: none

Bugfix: GUI: Display error messagebox (rather than stderr) when external signer fails inexplicably
  src/qt/sendcoinsdialog.cpp
Owners: none

gui: drop macOS ForceActivation workaround
  src/qt/guiutil.cpp
  src/qt/macdockiconhandler.mm
Owners: none

Create gui
  gui
Owners: none

Create generator-generic-ossf-slsa3-publish.yml
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
Owners: none

walletdb: Add WalletBatch::Read overload for DataStream
  src/wallet/db.h
Owners: @achow101

crypter: Make sure IV is set too
  src/wallet/crypter.cpp
Owners: @achow101

walletdb: Add EncryptedDatabase and its batch and cursor classes
  src/Makefile.am
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/encrypted_db.cpp
  src/wallet/encrypted_db.h
  src/wallet/test/db_tests.cpp
  src/wallet/test/util.cpp
Owners: @achow101

crypter: Separate setting IV from setting key
  src/wallet/crypter.cpp
  src/wallet/crypter.h
Owners: @achow101

walletdb: Have MakeDatabase also create encrypted dbs
  src/wallet/db.h
  src/wallet/walletdb.cpp
Owners: @achow101

walletdb: Use a different SQLite application id for encrypted db
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/encrypted_db.cpp
  src/wallet/sqlite.cpp
  src/wallet/sqlite.h
Owners: @achow101

wallet, rpc: Be able to create and load wallets with encrypted dbs
  src/wallet/rpc/wallet.cpp
  src/wallet/wallet.cpp
Owners: @achow101

wallet: Skip loading on start of wallets with encrypted databases
  src/wallet/load.cpp
Owners: @achow101

test: Add functional test for wallets with encrypted db
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
  test/functional/wallet_createwallet.py
  test/functional/wallet_db_encryption.py
Owners: none

interfaces: Allow creating a wallet with encrypted database
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

gui: Allow AskPassphraseDialog to have customized warning text
  src/qt/askpassphrasedialog.cpp
  src/qt/askpassphrasedialog.h
Owners: none

gui: Allow AskPassphraseDialog without WalletModel
  src/qt/askpassphrasedialog.cpp
Owners: none

gui: Add option to create a wallet with encrypted database
  src/qt/createwalletdialog.cpp
  src/qt/createwalletdialog.h
  src/qt/forms/createwalletdialog.ui
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
Owners: @hebasto

gui: Be able to open wallets with encrypted dbs
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
Owners: none

interfaces: Allow opening and detecting wallets with encrypted db
  src/interfaces/wallet.h
  src/qt/walletcontroller.cpp
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

gui: Update about logo icon to denote chain type
  src/qt/bitcoingui.cpp
  src/qt/utilitydialog.cpp
  src/qt/utilitydialog.h
Owners: none

wallet: Correct output type for Segwit address
  src/interfaces/wallet.h
  src/wallet/interfaces.cpp
Owners: @ryanofsky, @achow101

gui: Refactor AddressType from ReceiveCoinsDialog
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/receivecoinsdialog.cpp
Owners: none

gui: Add Address Type Column to AddressBookPage
  src/qt/addressbookpage.cpp
  src/qt/addresstablemodel.cpp
  src/qt/addresstablemodel.h
  src/qt/walletmodel.cpp
Owners: none

gui: Extend address book filter for nested filtering
  src/qt/addressbookpage.cpp
  src/qt/addressbookpage.h
Owners: none

gui: Add a combo widget to filter by address type
  src/qt/addressbookpage.cpp
  src/qt/addressbookpage.h
  src/qt/forms/addressbookpage.ui
Owners: @hebasto

gui: add used balance to overview page
  src/qt/forms/overviewpage.ui
  src/qt/overviewpage.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Owners: @hebasto

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: none

CODEOWNERS:

# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @laanwj
#   @sipa
#   @fanquake
#   @jonasschnelli
#   @marcofalke
#   @meshcollider

# Docs
/doc/*[a-zA-Z-].md                          @harding
/doc/Doxyfile.in                            @fanquake
/doc/REST-interface.md                      @jonasschnelli
/doc/benchmarking.md                        @ariard
/doc/bitcoin-conf.md                        @hebasto
/doc/build-freebsd.md                       @fanquake
/doc/build-netbsd.md                        @fanquake
/doc/build-openbsd.md                       @laanwj
/doc/build-osx.md                           @fanquake
/doc/build-unix.md                          @laanwj
/doc/build-windows.md                       @sipsorcery
/doc/dependencies.md                        @fanquake
/doc/developer-notes.md                     @laanwj
/doc/files.md                               @hebasto
/doc/gitian-building.md                     @laanwj
/doc/reduce-memory.md                       @fanquake
/doc/reduce-traffic.md                      @jonasschnelli
/doc/release-process.md                     @laanwj
/doc/translation_strings_policy.md          @laanwj

# Build aux
/build-aux/m4/bitcoin_qt.m4                 @hebasto

# MSVC build system
/build_msvc/                                @sipsorcery

# Settings
/src/util/settings.*                        @ryanofsky

# Fuzzing
/src/test/fuzz/                             @practicalswift
/doc/fuzzing.md                             @practicalswift

# Test framework
/test/functional/mempool_updatefromblock.py @hebasto
/test/functional/feature_asmap.py           @jonatack
/test/functional/interface_bitcoin_cli.py   @jonatack
/test/functional/tool_wallet.py             @jonatack

# Translations
/src/util/translation.h                     @hebasto

# Dev Tools
/contrib/devtools/security-check.py         @fanquake
/contrib/devtools/test-security-check.py    @fanquake
/contrib/devtools/symbol-check.py           @fanquake

# Gitian/Guix
/contrib/gitian-build.py                    @hebasto
/contrib/guix/                              @dongcarl

# Compatibility
/src/compat/glibc_*                         @fanquake

# GUI
/src/qt/forms/                              @hebasto

# Wallet
/src/wallet/                                @achow101

# CLI
/src/bitcoin-cli.cpp                        @jonatack

# Coinstats
/src/node/coinstats.*                       @fjahr

# Index
/src/index/                                 @fjahr

# Descriptors
*descriptor*                                @achow101 @sipa

# Interfaces
/src/interfaces/                            @ryanofsky

# DB
/src/txdb.*                                 @jamesob
/src/dbwrapper.*                            @jamesob

# Scripts/Linter
*.sh                                        @practicalswift
/test/lint/                                 @practicalswift
/test/lint/lint-shell.sh                    @hebasto

# Bech32
/src/bech32.*                               @sipa
/src/bench/bech32.*                         @sipa

# PSBT
/src/psbt*                                  @achow101
/src/node/psbt*                             @achow101
/doc/psbt.md                                @achow101

# P2P
/src/net_processing.*                       @sipa
/src/protocol.*                             @sipa

# Consensus
/src/coins.*                                @sipa @jamesob
/src/script/script.*                        @sipa
/src/script/interpreter.*                   @sipa
/src/validation.*                           @sipa
/src/consensus/                             @sipa
